<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-12">
    <h1><%= t('all.level') %></h1>
  </div>
</div>

<% if @sin_permisos = false || !@sin_permisos.present? %>
    <% if @count_busquedas == 0 %>
        <script>
            swal({
                title: "<%= t('all.no_filter')%>",
                type: "warning"

            });
        </script>
    <% end %>


    <div class="wrapper wrapper-content animated fadeInRight">

      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><%= t('views.niv_alert_index.alert_state') %></h5>
              <div class="ibox-tools">
                <i class="fa fa-filter filtro" data-toggle="modal" data-target="#states">
                  <label><%= t('views.niv_alert_index.filter') %></label></i>
                <a class="collapse-link collapse-graph_states">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content graph_states_all">
              <div>
                <canvas id="barChart"></canvas>
                <!--<canvas id="barChart2"></canvas>-->
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><%= t('views.niv_alert_index.alert_user') %></h5>
              <div class="ibox-tools">
                <i class="fa fa-filter filtro" data-toggle="modal" data-target="#users">
                  <label><%= t('views.niv_alert_index.filter') %></label></i>
                <a class="collapse-link collapse-graph_users">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content graph_users_all">
              <div>
                <canvas id="barChart1"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if @resultado_alertas.present? %>
        <div class="wrapper wrapper-content animated fadeInRight result_filter">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><%= t('views.niv_alert_index.results') %></h5>
              <div class="ibox-tools">
                <% if @crearXls == 8 %>
                    <button class="btn btn-primary btn-xs xls_g" type="button">
                      <i class="fa fa-floppy-o"></i> XLS
                    </button>
                <% end %>
                <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#graph_results">
                  <i class="fa fa-bar-chart"></i> <%= t('views.niv_alert_index.graph') %>
                </button>
                <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                <% if @search_for_states.present? %>
                    <input type="hidden" id="busqueda" name="busqueda_params" value="&search_for_states=<%= @search_for_states %>&valor_estados=<%= @par_estados %>&users_states=<%= @usuarios_states %>&product_states=<%= @producto %>&filter_states=<%= @filtro %>&groups_states=<%= @grupo %>&profile_states=<%= @perfil %>&inicio_states=<%= @fecha_inicio %>&fin_states=<%= @fecha_fin %>&field_layout_states=<%= @campos_lay %>&value_lay_states=<%= @valor_lay %>&fraud_states=<%= @fraude %>">
                <% end %>
                <% if @search_for_users.present? %>
                    <input type="hidden" id="busqueda" name="busqueda_params" value="&search_for_users=<%= @search_for_users %>&valor_usuarios=<%= @par_users %>&state_users=<%= @estado_us %>&product_users=<%= @producto %>&filter_users=<%= @filtro %>&groups_users=<%= @grupo %>&profile_users=<%= @perfil %>&inicio_users=<%= @fecha_inicio %>&fin_users=<%= @fecha_fin %>&field_layout_users=<%= @campos_lay %>&value_lay_users=<%= @valor_lay %>&fraud_users=<%= @fraude %>">
                <% end %>

                <br>
              </div>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="detall_left" id="cont">
                      <%= page_entries_info @resultado_alertas, entry_name: t('activerecord.all.alert') %>
                    </div>
                    <div class="pag_right" id="paginator">
                      <%= paginate @resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <table class="table table-bordered table-condensed table-striped" id="tablafi1" tabindex="5005">
                  <thead>
                  <tr>
                    <th width="15"></th>
                    <th>Ticket</th>
                    <th><%= t('views.alertc_index.date') %></th>
                    <th><%= t('views.alertc_index.origin') %></th>
                    <th><%= t('views.alertc_index.account') %></th>
                    <th><%= t('views.alertc_index.message') %></th>
                    <th><%= t('views.alertc_index.state') %></th>
                    <th><%= t('views.alertc_index.analyst') %></th>
                  </tr>
                  </thead>
                  <% if @resultado_alertas.present? %>
                      <tbody id="alertas">
                      <% render @resultado_alertas %>
                      <% @resultado_alertas.each do |al| %>
                          <tr class="show_more">
                            <td class="show"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                            <td class="id_tran"><%= al.Id %></td>
                            <td><%= al.Fecha %>
                              <bl></bl><%= al.Hora %></td>
                            <td>
                              <% if al.IdProducto == 1 %>
                                  <%= "Transaccional" %>
                              <% else %>
                                  <%= "Perfiles" %>
                              <% end %>
                            </td>
                            <td><%= al.IdTran %> </td>
                            <td style="max-width: 30em"><%= al.Mensaje %></td>
                            <td><%= al.IdEstado %>-<%= al.testadosxalerta.Descripcion %></td>
                            <td>
                              <% if al.user.present? %>
                                  <%= al.user.name %> <%= al.user.last_name %>
                              <% else %>
                                  N/A
                              <% end %>
                            </td>
                          </tr>
                          <tr id="detail<%= al.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
                            <td colspan="8">
                              <% if al.IdProducto == 1 %>
                                  <label><%= t('views.alertc_index.filter') %>: </label>
                                  <% if al.tx_filters.present? %>
                                      <%= al.tx_filters.Id %>-<%= al.tx_filters.Description %>
                                  <% else %>
                                      N/A
                                  <% end %>
                              <% else %>
                                  <label><%= t('views.alertc_index.group') %>: </label>
                                  <% if al.tgrupos.present? %>
                                      <%= al.IdGrupo %>-<%= al.tgrupos.Nombre %>
                                  <% else %>
                                      N/A
                                  <% end %>
                                  <br>
                                  <label><%= t('views.alertc_index.profile') %>: </label>
                                  <% @perfil = Tperfiles.where(:IdPerfil => al.IdPerfil).where(:IdGrupo => al.IdGrupo) %>
                                  <% if @perfil.present? %>
                                      <% @perfil.each do |per| %>
                                          <%= per.IdPerfil %>-<%= per.Nombre %>
                                      <% end %>
                                  <% else %>
                                      N/A
                                  <% end %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                  <% end %>
                </table>
              </div>
              <div class="row" id="paginator">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="pag_right" id="paginator_p">
                      <%= paginate @resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
                    </div>
                    <div class="detall_left" id="cont_p">
                      <%= page_entries_info @resultado_alertas, entry_name: t('activerecord.all.alert') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>


    <div class="modal inmodal" id="states" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
            </button>
            <i class="fa fa-filter modal-icon"></i>
            <h4 class="modal-title"><%= t('views.niv_alert_index.filter_states') %></h4>
            <small class="font-bold"><%= t('views.niv_alert_index.enter') %></small>
          </div>
          <%= form_tag({:controller => "niv_alertamiento", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda_estados") do %>
              <input type="hidden" value="states" name="search_for_states">
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">

                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-8">
                        <label> <%= t('views.niv_alert_index.state') %></label>
                        <div class="input-group">
                          <select data-placeholder="<%= t('views.niv_alert_index.select_state') %>" class="chosen-select" multiple style="width:350px;" tabindex="4" name="states_alert" id="states_sel">
                            <% @estados.each do |estados| %>
                                <option value="<%= estados.IdEstado %>"> <%= estados.IdEstado %> <%= estados.Descripcion %> </option>
                            <% end %>
                          </select>
                          <font color="#8b0000"><label id="errorStates" style="display: none;"></label></font>
                          <input type="hidden" name="valor_estados" id="valor_states">
                        </div>
                      </div>
                      <div class="col-xs-2"></div>
                    </div>

                    <br>
                    <label> <%= t('views.niv_alert_index.user') %></label>
                    <select class="form-control" name="users_states" id="users_st">
                      <option value=""><%= t('views.niv_alert_index.user') %></option>
                      <% @users.each do |us| %>
                          <option value="<%= us.id %>"> <%= us.id %>-- <%= us.user_name %></option>
                      <% end %>
                    </select>

                    <br>
                    <label> <%= t('views.niv_alert_index.product') %></label>
                    <select class="form-control" name="product_states" id="product">
                      <option value=""><%= t('views.niv_alert_index.product') %></option>
                      <option value="1">Key Monitor Transaccional</option>
                      <option value="2">Key Monitor Perfiles</option>
                    </select>

                    <div id="transaccional" style="display: none;">
                      <br>
                      <label> <%= t('views.niv_alert_index.filter') %></label>
                      <select name="filter_states" class='form-control input-sm' id="filtros">
                        <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_filter') %></b>
                        </option>
                        <!--<option value="1">Todos</option>-->
                        <% @filtros.each do |filter| %>
                            <option value=<%= filter.Id %>> <%= filter.Description %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="row" id="perfiles" style="display: none;">
                      <br>
                      <div class="col-xs-6">
                        <label> <%= t('views.alertc_index.placeh_group') %></label>
                        <select name="groups_states" onchange="obtenPerfiles(this, <%= arregloperfiles_array = Tperfiles.all.map { |arregloperfiles| [arregloperfiles.IdGrupo, arregloperfiles.IdPerfil, arregloperfiles.Nombre] }%>)" class='form-control input-sm' id="groups">
                          <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_group') %></b>
                          </option>
                          <% @grupos.each do |grupos| %>
                              <option value=<%= grupos.IdGrupo %>> <%= grupos.IdGrupo %> <%= grupos.Nombre %> </option>
                          <% end %>s
                        </select>
                      </div>
                      <div class="col-xs-6">
                        <label> <%= t('views.alertc_index.placeh_profile') %></label>
                        <select name="profile_states" id="ComboPerfiles" class='form-control input-sm' disabled="true">
                          <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_profile') %></b>
                          </option>
                        </select>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.start_date') %></label>
                        <div id="dato_1">
                          <div class="input-group" id="start_input">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="inicio_states" class="form-control input-sm entrada " title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date">
                          </div>
                          <font color="#8b0000"><label id="errorInicioStates" style="display: none;"></label></font>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.end_date') %></label>
                        <div id="dato_2">
                          <div class="input-group" id="end_input">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="fin_states" class='form-control input-sm salida ' title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date">
                          </div>
                          <font color="#8b0000"><label id="errorFinStates" style="display: none;"></label></font>
                        </div>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <font color="#8b0000"><label id="errorDatesStates" style="display: none;"></label></font>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.placeh_layout') %></label>
                        <select name=field_layout_states class="form-control input-sm" id="layout">
                          <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_layout') %></b>
                          </option>
                          <% @campos.each do |campos| %>
                              <option value=<%= campos.IdCampo %>> <%= campos.IdCampo %> <%= campos.Nombre %> </option>
                          <% end %>
                        </select>
                        <!--Es el correcto-->
                        <%= text_field_tag "value_lay_states", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrnum', :placeholder => t('views.alertc_index.placeh_value_layout'), :id => "layout_valor", :disabled => "true", :autocomplete => "off" %>
                      </div>
                      <div class="col-xs-6">
                        <label><%= t('views.niv_alert_index.fraud') %></label>
                        <div class="i-checks">
                          <label> <input type="radio" value="1" name="fraud_states" id="fraud_yes">
                            <i></i> <%= t('all.yes') %>
                          </label></div>
                        <div class="i-checks">
                          <label> <input type="radio" value="0" name="fraud_states" id="fraud_no"> <i></i> No </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
                <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "search", :disabled => "true") do %>
                    <%= t('views.alertc_index.search') %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal inmodal" id="users" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
            </button>
            <i class="fa fa-filter modal-icon"></i>
            <h4 class="modal-title"><%= t('views.niv_alert_index.filter_users') %></h4>
            <small class="font-bold"><%= t('views.niv_alert_index.enter') %></small>
          </div>
          <%= form_tag({:controller => "niv_alertamiento", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda_us") do %>
              <input type="hidden" value="users" name="search_for_users">
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class="col-xs-8">
                        <label> <%= t('views.niv_alert_index.users') %></label>
                        <div class="input-group">
                          <select data-placeholder="<%= t('views.niv_alert_index.select_user') %>" class="chosen-select" multiple style="width:350px;" tabindex="4" name="USUARIOS" id="users_sel">
                            <% @usuarios.each do |us| %>
                                <option value=<%= us.id %>> <%= us.user_name %> </option>
                            <% end %>
                          </select>
                          <font color="#8b0000"><label id="errorUsers" style="display: none;"></label></font>
                          <input type="hidden" name="valor_usuarios" id="valor_users">
                        </div>
                      </div>
                      <div class="col-xs-2"></div>
                    </div>

                    <br>
                    <label> <%= t('views.niv_alert_index.state') %></label>
                    <select class="form-control" name="state_users" id="state_us">
                      <option value="">--<%= t('views.niv_alert_index.state') %>--</option>
                      <% @estados.each do |st| %>
                          <option value="<%= st.id %>"> <%= st.id %>-- <%= st.Descripcion %></option>
                      <% end %>
                    </select>

                    <br>
                    <label> <%= t('views.niv_alert_index.product') %></label>
                    <select class="form-control" name="product_users" id="product_us">
                      <option value="">--<%= t('views.niv_alert_index.product') %>--</option>
                      <option value="1">Key Monitor Transaccional</option>
                      <option value="2">Key Monitor Perfiles</option>
                    </select>

                    <div id="transaccional_us" style="display: none;">
                      <br>
                      <label> <%= t('views.niv_alert_index.filter') %></label>
                      <select name="filter_users" class='form-control input-sm' id="filtros_us">
                        <option value="" selected="selected"><b>--<%= t('views.alertc_index.placeh_filter') %>--</b>
                        </option>
                        <!--<option value="1">Todos</option>-->
                        <% @filtros.each do |filter| %>
                            <option value=<%= filter.Id %>> <%= filter.Description %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="row" id="perfiles_us" style="display: none;">
                      <br>
                      <div class="col-xs-6">
                        <label> <%= t('views.alertc_index.placeh_group') %></label>
                        <select name="groups_users" onchange="obtenPerfiles(this, <%= arregloperfiles_array = Tperfiles.all.map { |arregloperfiles| [arregloperfiles.IdGrupo, arregloperfiles.IdPerfil, arregloperfiles.Nombre] }%>)" class='form-control input-sm' id="groups_us">
                          <option value="" selected="selected"><b>--<%= t('views.alertc_index.placeh_group') %>--</b>
                          </option>
                          <% @grupos.each do |grupos| %>
                              <option value=<%= grupos.IdGrupo %>> <%= grupos.IdGrupo %> <%= grupos.Nombre %> </option>
                          <% end %>s
                        </select>
                      </div>
                      <div class="col-xs-6">
                        <label> <%= t('views.alertc_index.placeh_profile') %></label>
                        <select name="profile_users" id="ComboPerfiles_us" class='form-control input-sm' disabled="true">
                          <option value="" selected="selected"><b>--<%= t('views.alertc_index.placeh_profile') %>--</b>
                          </option>
                        </select>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.start_date') %></label>
                        <div id="dato_1">
                          <div class="input-group" id="start_input_us">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="inicio_users" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="start_date_us">
                          </div>
                          <font color="#8b0000"><label id="errorInicioUsers" style="display: none;"></label></font>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.end_date') %></label>
                        <div id="dato_2">
                          <div class="input-group" id="end_input_us">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="fin_users" class='form-control input-sm salida' title="Fecha Final" placeholder="<%= t('views.alertc_index.placeh_date') %>" autocomplete="off" id="end_date_us">
                          </div>
                          <font color="#8b0000"><label id="errorFinUsers" style="display: none;"></label></font>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <font color="#8b0000"><label id="errorDatesUser" style="display: none;"></label></font>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <label><%= t('views.alertc_index.placeh_layout') %></label>
                        <select name="field_layout_users" class="form-control input-sm" id="layout_us">
                          <option value="" selected="selected"><b><%= t('views.alertc_index.placeh_layout') %></b>
                          </option>
                          <% @campos.each do |campos| %>
                              <option value=<%= campos.IdCampo %>>
                                perro <%= campos.IdCampo %> <%= campos.Nombre %> </option>
                          <% end %>
                        </select>
                        <!-- El segundo chido -->
                        <%= text_field_tag "value_lay_users", "", :size => 40, :maxlenght => 40, :class => 'form-control input-sm sltrnum', :placeholder => t('views.alertc_index.placeh_value_layout'), :id => "layout_valor_us", :disabled => "true", :autocomplete => "off" %>
                      </div>
                      <div class="col-xs-6">
                        <label><%= t('views.niv_alert_index.fraud') %></label>
                        <div class="i-checks">
                          <label> <input type="radio" value="1" name="fraud_users" id="fraud_yes_us">
                            <i></i> <%= t('all.yes') %>
                          </label></div>
                        <div class="i-checks">
                          <label> <input type="radio" value="0" name="fraud_users" id="fraud_no_us"> <i></i> No </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
                <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "search_us", :disabled => "true") do %>
                    <%= t('views.alertc_index.search') %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal inmodal" id="graph_results" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
            </button>
            <% if @search_for_states.present? %>
                <h2><%= t('views.niv_alert_index.alert_state') %></h2>
            <% elsif @search_for_users.present? %>
                <h2><%= t('views.niv_alert_index.alert_user') %></h2>
            <% end %>
          </div>
          <div class="modal-body" id="grafica_modal">
            <div>
              <canvas id="barChart2"></canvas>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
          </div>
        </div>
      </div>
    </div>
    <script>

      /* Validación de Input */

      // Input Campos Layout
      $('#layout_valor, #layout_valor_us').on('input', function () {
          valor = $(this).val() // Guardo el val() "Lo que él usr ingrese en el input"
          patron = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/-]*$/ // La expreción de "Carateres que solo voy a permitir ing. al usr"
          remp = /[^ a-zA-ZñÑáéíóúÁÉÍÓÚ0-9:,/-]+/ig // La expreción de "Carateres voy a permitir en el PASTE"

          if (!patron.test(valor)) {
              this.value = valor.replace(remp, "");// Esta solo me devuelve los caracteres permitidos en la acción PASTE
          }
      });

      // Input Fechas
      $('#start_date, #start_date_us, #end_date, #end_date_us').on('input', function () {
          valor = $(this).val()
          patron = /^[0-9/]*$/
          remp = /[^ 0-9/]+/ig

          if (!patron.test(valor)) {
              this.value = valor.replace(remp, "")
          }
      });

      /* Termina validación de Input */

      var getDate = function (input) {
          return new Date(input.date.valueOf());
      }
      $('.entrada, .salida').datepicker({
          format: "mm/dd/yyyy",
          language: 'es'
      });

      $('.salida').datepicker({
          startDate: '+6d',
          endDate: '+36d',
      });

      $('.entrada').datepicker({
          startDate: '+5d',
          endDate: '+35d',
      }).on('changeDate',
          function (selected) {
              $('.salida').datepicker('clearDates');
              $('.salida').datepicker('setStartDate', getDate(selected));
          });

      $(document).ready(function () {
          $("input[name=inicio_states]").change(function () {
              $('input[name=fin_states]').val($('').val());
          });
      });

      $(document).ready(function () {
          $("input[name=inicio_users]").change(function () {
              $('input[name=fin_users]').val($('').val());
          });
      });
    </script>

    <% content_for :javascript do %>

        <script type="text/javascript">

            $(function () {

                var barDataAlert = {
                    labels: [
                        <% @arreglo_count_alertas_estados.each do |es| %>
                        "<%= es[:tipo] %>",
                        <% end %>
                    ],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(0,48,87,0.5)",
                            strokeColor: "rgba(0,48,87,0.8)",
                            highlightFill: "rgba(0,48,87,0.75)",
                            highlightStroke: "rgba(0,48,87,1)",
                            data: [
                                <% @arreglo_count_alertas_estados.each do |es| %>
                                <%= es[:cantidad] %>,
                                <% end %>
                            ]
                        }
                    ]
                };

                var barDataUsers = {
                    labels: [
                        <% @arreglo_usu.each do |us| %>
                        "<%= us[:usr_name] %>",
                        <% end %>
                    ],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(0,48,87,0.5)",
                            strokeColor: "rgba(0,48,87,0.8)",
                            highlightFill: "rgba(0,48,87,0.75)",
                            highlightStroke: "rgba(0,48,87,1)",
                            data: [
                                <% @arreglo_usu.each do |us| %>
                                <%= us[:cantidad] %>,
                                <% end %>
                            ]
                        }
                    ]
                };

                var barOptions = {
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleGridLineWidth: 1,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    responsive: true,
                }

                var ctx = document.getElementById("barChart").getContext("2d");
                var ctx1 = document.getElementById("barChart1").getContext("2d");
                var myNewChart = new Chart(ctx).Bar(barDataAlert, barOptions);
                var myNewChart1 = new Chart(ctx1).Bar(barDataUsers, barOptions);


                // $("#barChart").click(function(){
                //     alert("click estados")
                // })
                //
                // $("#barChart1").click(function(){
                //     alert("click usuarios")
                // })

            });


            <% if @search_for_states.present? %>
            $(function () {

                var barDataGraph = {
                    labels: [
                        <% @arreglo_graph_states.each do |es| %>
                        "<%= es[:tipo] %>",
                        <% end %>
                    ],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(0,48,87,0.5)",
                            strokeColor: "rgba(0,48,87,0.8)",
                            highlightFill: "rgba(0,48,87,0.75)",
                            highlightStroke: "rgba(0,48,87,1)",
                            data: [
                                <% @arreglo_graph_states.each do |es| %>
                                <%= es[:cantidad] %>,
                                <% end %>
                            ]
                        }
                    ]
                };

                var barOptions = {
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleGridLineWidth: 1,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    responsive: true,
                }


                $("#graph_results").on('shown.bs.modal', function () {
                    var ctx2 = document.getElementById("barChart2").getContext("2d");
                    var myNewChart2 = new Chart(ctx2).Bar(barDataGraph, barOptions);
                })
            });


            <% elsif @search_for_users.present? %>
            $(function () {

                var barDataGraph = {
                    labels: [
                        <% @arreglo_graph_users.each do |us| %>
                        "<%= us[:usr_name] %>",
                        <% end %>
                    ],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(0,48,87,0.5)",
                            strokeColor: "rgba(0,48,87,0.8)",
                            highlightFill: "rgba(0,48,87,0.75)",
                            highlightStroke: "rgba(0,48,87,1)",
                            data: [
                                <% @arreglo_graph_users.each do |us| %>
                                <%= us[:cantidad] %>,
                                <% end %>
                            ]
                        }
                    ]
                };

                var barOptions = {
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleGridLineWidth: 1,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    responsive: true,
                }

                $("#graph_results").on('shown.bs.modal', function () {
                    var ctx2 = document.getElementById("barChart2").getContext("2d");
                    var myNewChart2 = new Chart(ctx2).Bar(barDataGraph, barOptions);
                })
            });
            <% end %>

            //---- Input para calendario
            $('#dato_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
            $('#dato_2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
            //---- Fin Input para calendario

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //checar los demas input para verificar que tengan info y habilitar el boton -- ESTADOS
            $("#states_sel").change(function () {
                var states = $(this).val()
                var producto = $("#product").val()
                var groups = $("#groups").val()
                groups = groups.trim()
                var comboPerfiles = $("#ComboPerfiles").val()
                var filtros = $("#filtros").val()
                filtros = filtros.trim()
                var start_input = $("#start_date").val()
                start_input = start_input.trim()
                var end_input = $("#end_date").val()
                end_input = end_input.trim()
                var layout = $("#layout").val()
                layout = layout.trim()
                var layout_valor = $("#layout_valor").val()
                layout_valor = layout_valor.trim()

                var fraude_si = $("#fraud_yes").parent().hasClass("checked")
                var fraude_no = $("#fraud_no").parent().hasClass("checked")

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                    $("#valor_states").val("")

                } else {
                    if (producto != "" || groups != "" || comboPerfiles != "" || filtros != "" || (start_date != "" && end_date != "") || (layout != "" && layout_valor != "") || fraude_si || fraude_no) {
                        $("#search").attr("disabled", false)
                        $("#errorStates").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                        var estados = String(states)
                        $("#valor_states").val(estados)
                    } else {
                        if (producto != "" && groups != "" && comboPerfiles != "" && filtros != "" && (start_date != "" && end_date != "") && (layout != "" && layout_valor != "") && fraude_si && fraude_no) {
                            $("#search").attr("disabled", false)
                            $("#errorStates").hide()
                            $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                            var estados = String(states)
                            $("#valor_states").val(estados)
                        }
                    }
                }
            })

            $("#users_st").change(function () {
                var states = $("#states_sel").val()
                var usuarios = $(this).val()

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            })

            $("#product").change(function () {
                var states = $("#states_sel").val()
                var producto = $(this).val()

                if (producto == "") {
                    $("#transaccional").hide()
                    $("#perfiles").hide()
                    $("#groups").val("")
                    $("#ComboPerfiles").val("")
                    $("#filtros").val("")
                }

                if (producto == "1") {
                    $("#transaccional").show()
                    $("#perfiles").hide()
                    $("#groups").val("")
                    $("#groups").val("")
                    $("#ComboPerfiles").val("")
                    $("#filtros").val("")
                }

                if (producto == "2") {
                    $("#transaccional").hide()
                    $("#perfiles").show()
                    $("#groups").val("")
                    $("#ComboPerfiles").val("")
                    $("#filtros").val("")
                }

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            })

            $("#groups").change(function () {
                var states = $("#states_sel").val()
                var groups = $(this).val()
                groups = groups.trim()

                if (groups != "") {
                    $("#ComboPerfiles option").remove();
                    $("#ComboPerfiles").attr("disabled", false);

                    $("#ComboPerfiles").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
                    for (i = 0; i < gon.perfiles.length; i++) {
                        if (gon.perfiles[i].IdGrupo == groups) {
                            $("#ComboPerfiles").append($("<option></option>")
                                .attr("value", gon.perfiles[i].IdPerfil)
                                .text(gon.perfiles[i].Nombre));
                        }
                    }

                } else {
                    $("#ComboPerfiles option").remove();
                    $("#ComboPerfiles").attr("disabled", true);
                    $("#ComboPerfiles").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
                }


                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#ComboPerfiles").change(function () {
                var states = $("#states_sel").val()
                var comboPerfiles = $(this).val()
                comboPerfiles = comboPerfiles.trim()

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#filtros").change(function () {
                var states = $("#states_sel").val()
                var filtros = $(this).val()
                filtros = filtros.trim()

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#layout").change(function () {
                var states = $("#states_sel").val()
                var layout = $(this).val()
                layout = layout.trim()
                var layout_valor = $("#layout_valor").val()
                layout_valor = layout_valor.trim()

                if (layout != "") {
                    $("#layout_valor").attr("disabled", false)
                    $("#layout_valor").attr("required", true)
                } else {
                    $("#layout_valor").attr("disabled", true)
                    $("#layout_valor").attr("required", false)
                    $("#layout_valor").val("")
                    layout_valor = ""
                }


                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#layout_valor").change(function () {
                var states = $("#states_sel").val()
                var layout_valor = $(this).val()
                layout_valor = layout_valor.trim()

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#start_date").change(function () {
                var states = $("#states_sel").val()
                var start_input = $(this).val()
                start_input = start_input.trim()
                var end_input = $("#end_date").val()
                end_input = end_input.trim()

                if (start_input != "") {
                    $("#errorInicioStates").hide()
                    $(this).css("border", "1px solid #e5e6e7")
                    var fecha_inicio = start_input.split("/")

                    var a_i = fecha_inicio[2]
                    var m_i = fecha_inicio[0]
                    var d_i = fecha_inicio[1]

                    if ((m_i < 13) && (d_i < 32)) {

                        if ((m_i == 1) && (m_i == 3) && (m_i == 5) && (m_i == 7) && (m_i == 8) && (m_i == 10) && (m_i == 12)) {
                            if (d_i <= 31) {
                                $('#errorInicioStates').text('')
                                $('#errorInicioStates').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorInicioStates").show();
                                document.getElementById('errorInicioStates').innerHTML = msg;
                            }
                        }
                        if ((m_i == 4) && (m_i == 6) && (m_i == 9) && (m_i == 11)) {
                            if (d_i <= 30) {
                                $('#errorInicioStates').text('')
                                $('#errorInicioStates').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                $(this).css("border", "1px dotted #8b0000")
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorInicioStates").show();
                                document.getElementById('errorInicioStates').innerHTML = msg;
                            }
                        }

                        if (m_i == 2) {

                            if ((a_i % 4 == 0) && ((a_i % 100 != 0) || (a_i % 400 == 0))) {
                                if (d_i <= 29) {
                                    $('#errorInicioStates').text('')
                                    $('#errorInicioStates').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorInicioStates").show();
                                    document.getElementById('errorInicioStates').innerHTML = msg;
                                }
                            } else {
                                if (d_i <= 28) {
                                    $('#errorInicioStates').text('')
                                    $('#errorInicioStates').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorInicioStates").show();
                                    document.getElementById('errorInicioStates').innerHTML = msg;
                                }
                            }


                        }

                    } else {
                        $(this).val('');
                        $(this).css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorInicioStates").show();
                        document.getElementById('errorInicioStates').innerHTML = msg;
                    }

                    if (end_input != "") {
                        var fecha_fin = new Date(end_input)
                        var fecha_inicio = new Date(start_input)

                        if (fecha_fin < fecha_inicio) {
                            $("#end_date").val('');
                            $("#end_date").css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.min_end_date')%>";
                            $("#errorDatesStates").show();
                            document.getElementById('errorDatesStates').innerHTML = msg;
                        } else {
                            $('#errorDatesStates').text('')
                            $('#errorDatesStates').hide()
                            $('#errorInicioStates').text('')
                            $('#errorInicioStates').hide()
                            $(this).css("border", "1px solid #e5e6e7")
                            if (states) {
                                $("#search").attr("disabled", false)
                            }
                        }
                    }
                } else {
                    if (end_input != "") {
                        $("#start_date").val('');
                        $("#start_date").css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.niv_alert_index.blank_start_date')%>";
                        $("#errorInicioStates").show();
                        document.getElementById('errorInicioStates').innerHTML = msg;
                        $("#search").attr("disabled", true)
                    }
                }

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    if (start_input != "" && end_input != "") {
                        $("#search").attr("disabled", false)
                        $("#errorStates").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                    } else {
                        $("#search").attr("disabled", true)
                    }
                }
            })

            $("#end_date").change(function () {
                var states = $("#states_sel").val()
                var start_input = $("#start_date").val()
                var end_input = $(this).val()

                if (end_input != "") {
                    var fecha_fin = end_input.split("/")

                    var a_f = fecha_fin[2]
                    var m_f = fecha_fin[0]
                    var d_f = fecha_fin[1]

                    if ((m_f < 13) && (d_f < 32)) {

                        if ((m_f == 1) && (m_f == 3) && (m_f == 5) && (m_f == 7) && (m_f == 8) && (m_f == 10) && (m_f == 12)) {
                            if (d_f <= 31) {
                                $('#errorFinStates').text('')
                                $('#errorFinStates').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFinStates").show();
                                document.getElementById('errorFinStates').innerHTML = msg;
                            }
                        }
                        if ((m_f == 4) && (m_f == 6) && (m_f == 9) && (m_f == 11)) {
                            if (d_i <= 30) {
                                $('#errorFinStates').text('')
                                $('#errorFinStates').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                $(this).css("border", "1px dotted #8b0000")
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFinStates").show();
                                document.getElementById('errorFinStates').innerHTML = msg;
                            }
                        }

                        if (m_f == 2) {

                            if ((a_f % 4 == 0) && ((a_f % 100 != 0) || (a_f % 400 == 0))) {
                                if (d_f <= 29) {
                                    $('#errorFinStates').text('')
                                    $('#errorFinStates').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorFinStates").show();
                                    document.getElementById('errorFinStates').innerHTML = msg;
                                }
                            } else {
                                if (d_f <= 28) {
                                    $('#errorFinStates').text('')
                                    $('#errorFinStates').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorFinStates").show();
                                    document.getElementById('errorFinStates').innerHTML = msg;
                                }
                            }


                        }

                    } else {
                        $(this).val('');
                        $(this).css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorFinStates").show();
                        document.getElementById('errorFinStates').innerHTML = msg;
                    }

                    if (start_input != "") {
                        var fecha_fin = new Date(end_input)
                        var fecha_inicio = new Date(start_input)

                        $("#start_date").css("border", "1px solid #e5e6e7")
                        $("#errorInicioStates").hide();

                        if (fecha_fin < fecha_inicio) {
                            $(this).val('');
                            $(this).css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.min_end_date')%>";
                            $("#errorDatesStates").show();
                            document.getElementById('errorDatesStates').innerHTML = msg;
                            $("#search").attr("disabled", true)
                        } else {
                            $('#errorDatesStates').text('')
                            $('#errorDatesStates').hide()
                            $(this).css("border", "1px solid #e5e6e7")
                            if (states) {
                                $("#search").attr("disabled", false)
                            }
                        }
                    } else {
                        if (end_input != "") {
                            $("#start_date").val('');
                            $("#start_date").css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.blank_start_date')%>";
                            $("#errorInicioStates").show();
                            document.getElementById('errorInicioStates').innerHTML = msg;
                            $("#search").attr("disabled", true)
                        }
                    }
                }

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    if (start_input != "" && end_input != "") {
                        $("#search").attr("disabled", false)
                        $("#errorStates").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                    } else {
                        $("#search").attr("disabled", true)
                    }
                }
            })

            $('#fraud_yes').on('ifChecked', function () {
                var states = $("#states_sel").val()
                var fraude_si = $(this).parent().hasClass("checked")
                var fraude_no = $("#fraud_no").parent().hasClass("checked")

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            });

            $('#fraud_no').on('ifChecked', function () {
                var states = $("#states_sel").val()
                var fraude_si = $("#fraud_yes").parent().hasClass("checked")
                var fraude_no = $(this).parent().hasClass("checked")

                if (!states) {
                    $("#search").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorStates').innerHTML = msg;
                    $("#errorStates").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search").attr("disabled", false)
                    $("#errorStates").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            });

            //checar los demas input para verificar que tengan info y habilitar el boton -- USUARIOS
            $("#users_sel").change(function () {
                var users = $(this).val()
                var producto = $("#product_us").val()
                var groups = $("#groups_us").val()
                groups = groups.trim()
                var comboPerfiles = $("#ComboPerfiles_us").val()
                var filtros = $("#filtros_us").val()
                filtros = filtros.trim()
                var start_input = $("#start_date_us").val()
                start_input = start_input.trim()
                var end_input = $("#end_date_us").val()
                end_input = end_input.trim()
                var layout = $("#layout_us").val()
                layout = layout.trim()
                var layout_valor = $("#layout_valor_us").val()
                layout_valor = layout_valor.trim()

                var fraude_si = $("#fraud_yes_us").parent().hasClass("checked")
                var fraude_no = $("#fraud_no_us").parent().hasClass("checked")

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                    $("#valor_users").val("")

                } else {
                    if (producto != "" || groups != "" || comboPerfiles != "" || filtros != "" || (start_date != "" && end_date != "") || (layout != "" && layout_valor != "") || fraude_si || fraude_no) {
                        $("#search_us").attr("disabled", false)
                        $("#errorUsers").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                        var usuarios = String(users)
                        $("#valor_users").val(usuarios)
                    } else {
                        if (producto != "" && groups != "" && comboPerfiles != "" && filtros != "" && (start_date != "" && end_date != "") && (layout != "" && layout_valor != "") && fraude_si && fraude_no) {
                            $("#search_us").attr("disabled", false)
                            $("#errorUsers").hide()
                            $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                            var usuarios = String(users)
                            $("#valor_users").val(usuarios)
                        }
                    }
                }
            })

            $("#state_us").change(function () {
                var users = $("#users_sel").val()
                var estado = $(this).val()

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            })

            $("#product_us").change(function () {
                var users = $("#users_sel").val()
                var producto = $(this).val()

                if (producto == "") {
                    $("#transaccional_us").hide()
                    $("#perfiles_us").hide()
                    $("#groups_us").val("")
                    $("#ComboPerfiles_us").val("")
                    $("#filtros_us").val("")
                }

                if (producto == "1") {
                    $("#transaccional_us").show()
                    $("#perfiles_us").hide()
                    $("#groups_us").val("")
                    $("#groups_us").val("")
                    $("#ComboPerfiles_us").val("")
                    $("#filtros_us").val("")
                }

                if (producto == "2") {
                    $("#transaccional_us").hide()
                    $("#perfiles_us").show()
                    $("#groups_us").val("")
                    $("#ComboPerfiles_us").val("")
                    $("#filtrosU_s").val("")
                }

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            })

            $("#groups_us").change(function () {
                var users = $("#users_sel").val()
                var groups = $(this).val()
                groups = groups.trim()

                if (groups != "") {
                    $("#ComboPerfiles_us option").remove();
                    $("#ComboPerfiles_us").attr("disabled", false);

                    $("#ComboPerfiles_us").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
                    for (i = 0; i < gon.perfiles.length; i++) {
                        if (gon.perfiles[i].IdGrupo == groups) {
                            $("#ComboPerfiles_us").append($("<option></option>")
                                .attr("value", gon.perfiles[i].IdPerfil)
                                .text(gon.perfiles[i].Nombre));
                        }
                    }

                } else {
                    $("#ComboPerfiles_us option").remove();
                    $("#ComboPerfiles_us").attr("disabled", true);
                    $("#ComboPerfiles_us").append($("<option value></option>").text("--<%= t('views.alertc_index.placeh_profile') %>--"));
                }


                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#ComboPerfiles_us").change(function () {
                var users = $("#users_sel").val()
                var comboPerfiles = $(this).val()
                comboPerfiles = comboPerfiles.trim()

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#filtros_us").change(function () {
                var users = $("#users_sel").val()
                var filtros = $(this).val()
                filtros = filtros.trim()

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#layout_us").change(function () {
                var users = $("#users_sel").val()
                var layout = $(this).val()
                layout = layout.trim()
                var layout_valor_us = $("#layout_valor").val()
                layout_valor_us = layout_valor_us.trim()

                if (layout != "") {
                    $("#layout_valor_us").attr("disabled", false)
                    $("#layout_valor_us").attr("required", true)
                } else {
                    $("#layout_valor_us").attr("disabled", true)
                    $("#layout_valor_us").attr("required", false)
                    $("#layout_valor_us").val("")
                    layout_valor_us = ""
                }

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#layout_valor_us").change(function () {
                var users = $("#users_sel").val()
                var layout_valor = $(this).val()
                layout_valor = layout_valor.trim()

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }
            })

            $("#start_date_us").change(function () {
                var users = $("#users_sel").val()
                var start_input = $(this).val()
                start_input = start_input.trim()
                var end_input = $("#end_date_us").val()
                end_input = end_input.trim()

                if (start_input != "") {
                    $("#errorInicioUsers").hide()
                    $(this).css("border", "1px solid #e5e6e7")
                    var fecha_inicio = start_input.split("/")

                    var a_i = fecha_inicio[2]
                    var m_i = fecha_inicio[0]
                    var d_i = fecha_inicio[1]

                    if ((m_i < 13) && (d_i < 32)) {

                        if ((m_i == 1) && (m_i == 3) && (m_i == 5) && (m_i == 7) && (m_i == 8) && (m_i == 10) && (m_i == 12)) {
                            if (d_i <= 31) {
                                $('#errorInicioUsers').text('')
                                $('#errorInicioUsers').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorInicioUsers").show();
                                document.getElementById('errorInicioUsers').innerHTML = msg;
                            }
                        }
                        if ((m_i == 4) && (m_i == 6) && (m_i == 9) && (m_i == 11)) {
                            if (d_i <= 30) {
                                $('#errorInicioUsers').text('')
                                $('#errorInicioUsers').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                $(this).css("border", "1px dotted #8b0000")
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorInicioUsers").show();
                                document.getElementById('errorInicioUsers').innerHTML = msg;
                            }
                        }

                        if (m_i == 2) {

                            if ((a_i % 4 == 0) && ((a_i % 100 != 0) || (a_i % 400 == 0))) {
                                if (d_i <= 29) {
                                    $('#errorInicioUsers').text('')
                                    $('#errorInicioUsers').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorInicioUsers").show();
                                    document.getElementById('errorInicioUsers').innerHTML = msg;
                                }
                            } else {
                                if (d_i <= 28) {
                                    $('#errorInicioUsers').text('')
                                    $('#errorInicioUsers').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorInicioUsers").show();
                                    document.getElementById('errorInicioUsers').innerHTML = msg;
                                }
                            }


                        }

                    } else {
                        $(this).val('');
                        $(this).css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorInicioUsers").show();
                        document.getElementById('errorInicioUsers').innerHTML = msg;
                    }

                    if (end_input != "") {
                        var fecha_fin = new Date(end_input)
                        var fecha_inicio = new Date(start_input)

                        if (fecha_fin < fecha_inicio) {
                            $("#end_date_us").val('');
                            $("#end_date_us").css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.min_end_date')%>";
                            $("#errorDatesUser").show();
                            document.getElementById('errorDatesUser').innerHTML = msg;
                        } else {
                            $('#errorDatesUser').text('')
                            $('#errorDatesUser').hide()
                            $('#errorDatesUser').text('')
                            $('#errorDatesUser').hide()
                            $(this).css("border", "1px solid #e5e6e7")
                            if (users) {
                                $("#search_us").attr("disabled", false)
                            }
                        }
                    }
                } else {
                    if (end_input != "") {
                        $("#start_date_us").val('');
                        $("#start_date_us").css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.niv_alert_index.blank_start_date')%>";
                        $("#errorInicioUsers").show();
                        document.getElementById('errorInicioUsers').innerHTML = msg;
                        $("#search_us").attr("disabled", true)
                    }
                }

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_state')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    if (start_input != "" && end_input != "") {
                        $("#search_us").attr("disabled", false)
                        $("#errorUsers").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                    } else {
                        $("#search_us").attr("disabled", true)
                    }
                }

            })

            $("#end_date_us").change(function () {
                var users = $("#users_sel").val()
                var start_input = $("#start_date_us").val()
                start_input = start_input.trim()
                var end_input = $(this).val()
                end_input = end_input.trim()

                if (end_input != "") {
                    var fecha_fin = end_input.split("/")

                    var a_f = fecha_fin[2]
                    var m_f = fecha_fin[0]
                    var d_f = fecha_fin[1]

                    if ((m_f < 13) && (d_f < 32)) {

                        if ((m_f == 1) && (m_f == 3) && (m_f == 5) && (m_f == 7) && (m_f == 8) && (m_f == 10) && (m_f == 12)) {
                            if (d_f <= 31) {
                                $('#errorFinUsers').text('')
                                $('#errorFinUsers').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFinUsers").show();
                                document.getElementById('errorFinUsers').innerHTML = msg;
                            }
                        }
                        if ((m_f == 4) && (m_f == 6) && (m_f == 9) && (m_f == 11)) {
                            if (d_i <= 30) {
                                $('#errorFinUsers').text('')
                                $('#errorFinUsers').hide()
                                $(this).css("border", "1px solid #e5e6e7")
                            } else {
                                $(this).val('');
                                $(this).css("border", "1px dotted #8b0000")
                                var msg = "<%= t('views.registration_new.error_date')%>";
                                $("#errorFinUsers").show();
                                document.getElementById('errorFinUsers').innerHTML = msg;
                            }
                        }

                        if (m_f == 2) {

                            if ((a_f % 4 == 0) && ((a_f % 100 != 0) || (a_f % 400 == 0))) {
                                if (d_f <= 29) {
                                    $('#errorFinUsers').text('')
                                    $('#errorFinUsers').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorFinUsers").show();
                                    document.getElementById('errorFinUsers').innerHTML = msg;
                                }
                            } else {
                                if (d_f <= 28) {
                                    $('#errorFinUsers').text('')
                                    $('#errorFinUsers').hide()
                                    $(this).css("border", "1px solid #e5e6e7")
                                } else {
                                    $(this).val('');
                                    $(this).css("border", "1px dotted #8b0000")
                                    var msg = "<%= t('views.registration_new.error_date')%>";
                                    $("#errorFinUsers").show();
                                    document.getElementById('errorFinUsers').innerHTML = msg;
                                }
                            }


                        }

                    } else {
                        $(this).val('');
                        $(this).css("border", "1px dotted #8b0000")
                        var msg = "<%= t('views.registration_new.error_date')%>";
                        $("#errorFinUsers").show();
                        document.getElementById('errorFinUsers').innerHTML = msg;
                    }

                    if (start_input != "") {
                        var fecha_fin = new Date(end_input)
                        var fecha_inicio = new Date(start_input)

                        $("#start_date_us").css("border", "1px solid #e5e6e7")
                        $("#errorInicioUsers").hide();

                        if (fecha_fin < fecha_inicio) {
                            $(this).val('');
                            $(this).css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.min_end_date')%>";
                            $("#errorDatesUser").show();
                            document.getElementById('errorDatesUser').innerHTML = msg;
                            $("#search_us").attr("disabled", true)
                        } else {
                            $('#errorDatesUser').text('')
                            $('#errorDatesUser').hide()
                            $(this).css("border", "1px solid #e5e6e7")
                            if (users) {
                                $("#search").attr("disabled", false)
                            }
                        }
                    } else {
                        if (end_input != "") {
                            $("#start_date_us").val('');
                            $("#start_date_us").css("border", "1px dotted #8b0000")
                            var msg = "<%= t('views.niv_alert_index.blank_start_date')%>";
                            $("#errorInicioUsers").show();
                            document.getElementById('errorInicioUsers').innerHTML = msg;
                            $("#search_us").attr("disabled", true)
                        }
                    }
                }

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    if (start_input != "" && end_input != "") {
                        $("#search_us").attr("disabled", false)
                        $("#errorUsers").hide()
                        $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                    } else {
                        $("#search_us").attr("disabled", true)
                    }
                }
            })

            $('#fraud_yes_us').on('ifChecked', function () {
                var users = $("#users_sel").val()
                var fraude_si = $(this).parent().hasClass("checked")
                var fraude_no = $("#fraud_no_us").parent().hasClass("checked")

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            });

            $('#fraud_no_us').on('ifChecked', function () {
                var users = $("#users_sel").val()
                var fraude_si = $("#fraud_yes_us").parent().hasClass("checked")
                var fraude_no = $(this).parent().hasClass("checked")

                if (!users) {
                    $("#search_us").attr("disabled", true)
                    var msg = "<%= t('views.niv_alert_index.error_user')%>";
                    document.getElementById('errorUsers').innerHTML = msg;
                    $("#errorUsers").show()
                    $("ul.chosen-choices").css("border", "1px dotted #8b0000")
                } else {
                    $("#search_us").attr("disabled", false)
                    $("#errorUsers").hide()
                    $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                }

            });

            $("#form_busqueda_estados").submit(function () {
                //Enviar valores de fechas
                var fecha_ini = $("#start_date").val()
                var fecha_fin = $("#end_date").val()

                if (fecha_ini == "" || fecha_ini == null) {
                    $("#start_date").val("")
                } else {
                    var fecha = new Date($("#start_date").val())
                    $("#start_date").val(fecha)
                }

                if (fecha_fin == "" || fecha_fin == null) {
                    $("#end_date").val("")
                } else {
                    var fecha_f = new Date($("#end_date").val())
                    $("#end_date").val(fecha_f)
                }
            })

            $("#form_busqueda_us").submit(function () {
                //Enviar valores de fechas
                var fecha_ini = $("#start_date_us").val()
                var fecha_fin = $("#end_date_us").val()

                if (fecha_ini == "" || fecha_ini == null) {
                    $("#start_date_us").val("")
                } else {
                    var fecha = new Date($("#start_date_us").val())
                    $("#start_date_us").val(fecha)
                }

                if (fecha_fin == "" || fecha_fin == null) {
                    $("#end_date_us").val("")
                } else {
                    var fecha_f = new Date($("#end_date_us").val())
                    $("#end_date_us").val(fecha_f)
                }
            })

        </script>

        <script type="text/javascript">

            $(function () {

                var config = {
                    '.chosen-select': {},
                    '.chosen-select-deselect': {allow_single_deselect: true},
                    '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
                    '.chosen-select-width': {width: "250%"}
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }

                // ayuda a mostrar el campo chosen en modal
                $('#states').on('shown.bs.modal', function () {
                    for (var selector in config) {
                        $(selector).chosen(config[selector]);
                        $('.chosen-select', this).chosen('destroy').chosen();
                    }

                });
                $('#users').on('shown.bs.modal', function () {
                    for (var selector in config) {
                        $(selector).chosen(config[selector]);
                        $('.chosen-select', this).chosen('destroy').chosen();
                    }

                });

            });

            $(".filtro").click(function () {
                $("#errorUsers").hide()
                $("#errorStates").hide()
            })

            $(".show_more").click(function () {
                var id = $(this).children(".id_tran").text()
                var tiene = $("#detail" + id).hasClass("cerrado")

                if (tiene) {
                    $("#detail" + id).show()
                    $("#detail" + id).removeClass("cerrado")
                    $("#detail" + id).addClass("abierto")
                    $(this).children(".show").html("")
                    $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//
                } else {
                    $("#detail" + id).hide()
                    $("#detail" + id).removeClass("abierto")
                    $("#detail" + id).addClass("cerrado")
                    $(this).children(".show").html("")
                    $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//
                }
            })

            <% if @crearXls == 8 %>
            $(".xls_g").click(function () {
                var idioma = $("#idioma").val()
                var params = $("#busqueda").val()
                $.ajax({
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                    },
                    url: "/niv_alertamiento/index?xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma + params,
                    data: {"_method": "index"},
                })

                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 5000
                };
                toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
            })
            <% end %>
            $(".collapse-graph_states").click(function () {
                var ibox = $(".collapse-graph_users").closest('div.ibox');
                var button = $(".collapse-graph_users").find('i');
                var content = ibox.find('div.ibox-content');
                content.slideToggle(200);
                button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                ibox.toggleClass('').toggleClass('border-bottom');
                setTimeout(function () {
                    ibox.resize();
                    ibox.find('[id^=map-]').resize();
                }, 50);
            })

            $(".collapse-graph_users").click(function () {
                var ibox = $(".collapse-graph_states").closest('div.ibox');
                var button = $(".collapse-graph_states").find('i');
                var content = ibox.find('div.ibox-content');
                content.slideToggle(200);
                button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                ibox.toggleClass('').toggleClass('border-bottom');
                setTimeout(function () {
                    ibox.resize();
                    ibox.find('[id^=map-]').resize();
                }, 50);
            })

        </script>
    <% end %>

    <style>
      canvas {
        width: 300px;
        height: 140px;
      }

      /*datepicker y select chosen multi selección aparezcan en modal*/
      .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 99999 !important;
      }

      .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
        z-index: 99999 !important;
      }

      div#states_chose {
        z-index: 99999 !important;
      }

      div#states_chose {
        z-index: 99999 !important;
      }

      label {
        font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";;
      }

      .filtro {
        cursor: pointer;
      }

      .filtro label {
        cursor: pointer;
      }

      .toast-success {
        background-color: #003057;
      }

      #toast-container > .toast-success:before {
        content: none;
      }

      .wrapper-content {
        padding: 10px 10px 0px 10px;
      }

      .result_filter {
        padding: 0px 10px 0px 10px;
      }
    </style>
<% else %>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><%= t('views.sessions_new.welcome') %></h1>
          </div>
          <div class="ibox-content">
            <h3> <%= t('views.home_index.no_per') %> </h3>
            <br>
            <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
<% end %>