<% @permisos_v = current_user.profile.permissions.order(:view_id) %>
<% arreglo = Array.new %>
<% @permisos_v.each do |per| %>
  <% id = per.id %>
  <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
  <% valor[:name] = per.view_name %>
  <% valor[:crear] = per.crear %>
  <% valor[:editar] = per.editar %>
  <% valor[:leer] = per.leer %>
  <% valor[:eliminar] = per.eliminar %>

  <% arreglo.push(valor) %>
<% end %>
<div class="row" id="Panel">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.profiles_show.title_p_show') %></h1>
        <br>
      </div>
      <div class="ibox-content">


        <p class="text-center">
          <strong><%= t('activerecord.atributes.name') %>:</strong>
          <%= @profile.name %>
        </p>

        <p class="text-center">
          <strong><%= t('activerecord.atributes.area') %>:</strong>
          <% if @profile.area.present? %>
            <% if @profile.area.name.present? %>
              <%= @profile.area.name %>
            <% end %>
          <% else %>
            N/A
          <% end %>
        </p>

        <p class="text-center">
          <% if @profile.month.present? || @profile.day.present? %>
            <strong><%= t('views.permisos_edit.periodo') %></strong>
          <% end %>
        </p>

        <p class="text-center">
          <% if @profile.day.present? %>
            <strong><%= t('views.permisos_edit.day') %>:</strong>
            <%= @profile.day %>
          <% end %>
        </p>

        <p class="text-center">
          <% if @profile.month.present? %>
            <strong><%= t('views.permisos_edit.month') %>:</strong>
            <%= @profile.month %>
          <% end %>
        </p>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" align="center">
            <table class="table table-striped table-responsive">
              <thead>
              <tr>
                <!--<th>Name Vista</th>-->
                <th rowspan="2"><br><br><%= t('views.permisos_show.name_view') %></th>
                <th colspan="4" style="text-align: center"><%= t('views.permisos_show.permissions') %></th>
              </tr>


              <tr>
                <th>
                  <%= t('views.permisos_show.create') %>
                </th>
                <th>
                  <%= t('views.permisos_show.edit') %>
                </th>
                <th>
                  <%= t('views.permisos_show.read') %>
                </th>
                <th>
                  <%= t('views.permisos_show.edit') %>
                </th>


              </tr>

              </thead>

              <tbody>
              <% if arreglo[0][:leer] == 2 || arreglo[1][:crear] == 8 || arreglo[1][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#003057" style="color:white;"><b><h4>Dashboard</h4></b></td>
                </tr>
                <% @total_profile.each do |f| %>
                  <% if (f.view_name == 'Home' && arreglo[0][:leer] == 2) || (f.view_name == 'Alerting and productivity levels' && (arreglo[1][:crear] == 8 || arreglo[1][:leer] == 2)) %>
                    <tr>
                      <td>
                        <% if f.view_name == "Home" %>
                          <%= t('all.home') %>
                        <% elsif f.view_name == "Alerting and productivity levels" %>
                          <%= t('all.level') %>
                        <% end %>
                      </td>
                      <td>
                        <% if f.view_name != 'Users' %>
                          <% if f.crear.present? %>
                            <% if f.crear == 8 %>
                              <span class="fa fa-check"></span>
                            <% end %>
                          <% else %>
                            <span class="fa fa-times"></span>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if f.editar.present? %>
                          <% if f.editar == 4 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                      <td>
                        <% if f.leer.present? %>
                          <% if f.leer == 2 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>

                      <td>
                        <% if f.eliminar.present? %>
                          <% if f.eliminar == 1 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[4][:crear] == 8 || arreglo[4][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#003057" style="color:white;">
                    <b><h4><%= t('all.alerts') %></h4></b></td>
                </tr>
              <% end %>
              <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                    <b><h4><%= t('all.new_a') %></h4></b></td>
                </tr>
              <% end %>
              <% @total_profile.each do |f| %>
                <% if (f.view_name == 'New Alert Transaccional' && (arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2)) || (f.view_name == 'New Alert Perfiles' && (arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2)) %>
                  <tr>
                    <td>
                      <% if f.view_name == "New Alert Transaccional" %>
                        <%= t('views.alert_new_index.new_tran') %>
                      <% elsif f.view_name == "New Alert Perfiles" %>
                        <%= t('views.alert_new_index.new_per') %>
                      <% end %>
                    </td>
                    <td>
                      <% if f.view_name != 'Users' %>
                        <% if f.crear.present? %>
                          <% if f.crear == 8 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if f.editar.present? %>
                        <% if f.editar == 4 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                    <td>
                      <% if f.leer.present? %>
                        <% if f.leer == 2 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>

                    <td>
                      <% if f.eliminar.present? %>
                        <% if f.eliminar == 1 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <% if arreglo[4][:crear] == 8 || arreglo[4][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#3C87C4" style="color:white; text-align: left;">
                    <b><h4><%= t('all.consul_a') %></h4></b></td>
                </tr>
              <% end %>
              <% @total_profile.each do |f| %>
                <% if (f.view_name == 'Consult Alert Transaccional' && (arreglo[4][:crear] == 8 || arreglo[4][:leer] == 2)) || (f.view_name == 'Consult Alert Perfiles' && (arreglo[5][:crear] == 8 || arreglo[5][:leer] == 2)) %>
                  <tr>
                    <td>
                      <% if f.view_name == "Consult Alert Transaccional" %>
                        <%= t('views.alert_new_index.consul_tran') %>
                      <% elsif f.view_name == "Consult Alert Perfiles" %>
                        <%= t('views.alert_new_index.consul_per') %>
                      <% end %>
                    </td>
                    <td>
                      <% if f.view_name != 'Users' %>
                        <% if f.crear.present? %>
                          <% if f.crear == 8 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if f.editar.present? %>
                        <% if f.editar == 4 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                    <td>
                      <% if f.leer.present? %>
                        <% if f.leer == 2 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>

                    <td>
                      <% if f.eliminar.present? %>
                        <% if f.eliminar == 1 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <% if arreglo[6][:crear] == 8 || arreglo[6][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#3C87C4" style="color:white;">
                    <b><h4><%= t('all.release_a') %></h4></b></td>
                </tr>
                <% @total_profile.each do |f| %>
                  <% if f.view_name == 'Alert Release' %>
                    <tr>
                      <td>
                        <%= t('all.release_a') %>
                      </td>
                      <td>
                        <% if f.view_name != 'Users' %>
                          <% if f.crear.present? %>
                            <% if f.crear == 8 %>
                              <span class="fa fa-check"></span>
                            <% end %>
                          <% else %>
                            <span class="fa fa-times"></span>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if f.editar.present? %>
                          <% if f.editar == 4 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                      <td>
                        <% if f.leer.present? %>
                          <% if f.leer == 2 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>

                      <td>
                        <% if f.eliminar.present? %>
                          <% if f.eliminar == 1 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <% if arreglo[7][:crear] == 8 || arreglo[7][:leer] == 2 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#003057" style="color:white;">
                    <b><h4><%= t('all.consul_g') %></h4></b></td>
                </tr>
                <% @total_profile.each do |f| %>
                  <% if f.view_name == 'General Search' %>
                    <tr>
                      <td>
                        <%= t('all.consul_g') %>
                      </td>
                      <td>
                        <% if f.view_name != 'Users' %>
                          <% if f.crear.present? %>
                            <% if f.crear == 8 %>
                              <span class="fa fa-check"></span>
                            <% end %>
                          <% else %>
                            <span class="fa fa-times"></span>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if f.editar.present? %>
                          <% if f.editar == 4 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                      <td>
                        <% if f.leer.present? %>
                          <% if f.leer == 2 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>

                      <td>
                        <% if f.eliminar.present? %>
                          <% if f.eliminar == 1 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <% if arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1 || arreglo[9][:crear] == 8 || arreglo[9][:editar] == 4 || arreglo[9][:leer] == 2 || arreglo[9][:eliminar] == 1 || arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1 || arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 %>
                <tr bgcolor="#003057">
                  <td colspan="5" bgcolor="#003057" style="color:white;">
                    <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
                </tr>
              <% end %>
              <%# @total_profile.each do |f| %>
              <% @total_profile.each do |f| %>
                <% if (f.view_name == 'Users' && (arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1)) || (f.view_name == 'User Attention Priority Transaccional' && (arreglo[9][:crear] == 8 || arreglo[9][:editar] == 4 || arreglo[9][:leer] == 2 || arreglo[9][:eliminar] == 1)) || (f.view_name == 'Profiles' && (arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1)) || (f.view_name == 'Areas' && (arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1)) %>
                  <tr>
                    <td>
                      <% if f.view_name == 'Users' %>
                        <%= t('all.user') %>
                      <% elsif f.view_name == 'User Attention Priority Transaccional' %>
                        <%= t('all.user_p') %>
                      <% elsif f.view_name == 'Profiles' %>
                        <%= t('all.profiles') %>
                      <% elsif f.view_name == 'Areas' %>
                        <%= t('all.areas') %>
                      <% end %>
                    </td>
                    <td>
                      <% if f.view_name != 'Users' %>
                        <% if f.crear.present? %>
                          <% if f.crear == 8 %>
                            <span class="fa fa-check"></span>
                          <% end %>
                        <% else %>
                          <span class="fa fa-times"></span>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if f.editar.present? %>
                        <% if f.editar == 4 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                    <td>
                      <% if f.leer.present? %>
                        <% if f.leer == 2 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>

                    <td>
                      <% if f.eliminar.present? %>
                        <% if f.eliminar == 1 %>
                          <span class="fa fa-check"></span>
                        <% end %>
                      <% else %>
                        <span class="fa fa-times"></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <div class="col-md-12 hr-line-dashed"></div>
        <% if @editarPerfil == 4 %>
          <% if current_user.area_id == "1" && @profile.id != current_user.profile_id.to_i #Es un usuario de CENTRAL             %>
            <% if (@profile.flag >= 2) && (@profile.flag > current_user.profile.flag.to_i) %>
              <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
          <% else #Es un usuario de OTRA AREA         %>
            <% if @profile.flag > current_user.profile.flag && @profile.area_id == current_user.area_id.to_i && @profile.flag > 2 %>
              <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
            <% if @profile.flag >= current_user.profile.flag && @profile.area_id > current_user.area_id.to_i && @profile.flag > 2 %>
              <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.back'), profiles_path, :class => 'btn btn-xs btn-primary dim' %>

        <div> &nbsp; <br> &nbsp; <br> &nbsp;</div>
        <p> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br></p>
      </div>
    </div>
  </div>
</div>