<p id="notice"><%= notice %></p>

<h1>Categori Filters</h1>

<table>
  <thead>
    <tr>
      <th>Id categori</th>
      <th>Id filter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categori_filters.each do |categori_filter| %>
      <tr>
        <td><%= categori_filter.id_categori %></td>
        <td><%= categori_filter.id_filter %></td>
        <td><%= link_to 'Show', categori_filter %></td>
        <td><%= link_to 'Edit', edit_categori_filter_path(categori_filter) %></td>
        <td><%= link_to 'Destroy', categori_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categori Filter', new_categori_filter_path %>
