/* line 6, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
