<%= stylesheet_link_tag "tx_sessions" %>
<%= stylesheet_link_tag "tx_filters" %>

<%= form_for @tx_filter, :html => {:class => 'form-horizontal', :id => 'form'} do |f| %>
  <% if @tx_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tx_filters.errors.count, "error") %> prohibited this tx_filters from being saved:</h2>

      <ul>
        <% tx_filter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ## Datos del Filtro ## -->
  <section class="row">
    <article class=" col-lg-5 main_filter">
      <div class="header_filter">
        <h3><%= t('views.tx_filter_index.title') %></h3>
      </div>
      <div class="ibox-content" style="padding: 4em 1em;">
        <div class="row">
          <div class="col-xs-12">
          <% sesionPer = TxSessions.where(:Id => @tx_filter.Session_id) %>
            <% sesionPer.each do | sesion | %>
              <input type="hidden" id="filterSession" value="<%= sesion.Id %>">
              <% if @tx_filter.Session_id == sesion.Id %>
                <p><strong>Este filtro pertenece a la sesion:</strong> <span><%= sesion.Description %></span></p>
              <% else %>
                <p><strong>Este Filtro no perteneces a ninguna sesión</strong></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row filter_description">
          <br>
          <br>
          <div class="col-lg-4"><h4><label class="control-label"><%= t('all.description') %></label></h4></div>
          <div class="col-lg-8">
            <%= f.text_field :Description, id:'des_session', class:'form-control', autocomplete:'off', value:@tx_filter.Description %>
          </div>
        </div>
        <% if @tx_filter.Order_number != 0 %>
        <div class="row filter_color">
          <br>
          <div class="col-lg-4">
            <h4>
              <%= f.label :Backgroundcolor, t('views.tx_filter_new.filter_color') , :id => "colorlabel" %>
            </h4>
          </div>
          <div class="col-lg-8">
            <input type="text" class="form-control demo" name="Backgroundcolor" value="<%= @tx_filter.Backgroundcolor %>" autocomplete="off" />
          </div>
        </div>
        <% end %>
        <div class="row filter_order">
          <br>
          <div class="col-lg-4">
            <h4>
              <label><%= t('views.tx_filter_new.type_filter') %></label>
            </h4>
          </div>
          <div class="col-lg-8">
            <input type="hidden" id="tipoFiltro" value="<%= @tx_filter.Order_number %>">
            <select id="typeFilter" name="type_filter" class="form-control filterSession">
              <option value=""><%= t('views.tx_filter_new.select_type_filter') %></option>
              <option value="0"><%= t('views.tx_filter_new.option_main') %></option>
              <option value="1"><%= t('views.tx_filter_new.option_general') %></option>
              <option value="2"><%= t('views.tx_filter_new.option_group') %></option>
            </select>
          </div>
        </div>
      </div>
    </article>
    <article class=" col-lg-7 main_detalleFiltro">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
<!--            <th class="text-center"><%#= t('views.tx_filter_detail_new.denied') %></th>-->
            <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
            <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
            <th data-hide="phone, table" class="text-center"><%= t('all.edit') %></th>
          </tr>
        </thead>
        <tbody>
        <% @idFiltro = @tx_filter.Id %>
        <% @detalle = TxFilterDetail.where(:filter_id => @idFiltro) %>

        <% @camposLay = Tcamposlay.all %>

        <% @detalle.each do | condiciones | %>
          <tr class="condicion<%= condiciones.conditionnumber %>">
              <% if (condiciones.denied == "0") %>
                <%# checked = "" %>
                <% no = "" %>
              <% elsif  condiciones.denied == "1"%>
                <%# checked = "checked" %>
                <% no = t('views.tx_filter_detail_new.notPalabra') %>
              <% end %>
            <td class="text-center connector">
              <% if condiciones.connector != "-1" %>
                <span class="btn btn-primary btn-xs changeConector" title="Cambiar conector">
                  <% if condiciones.connector == "0" %>
                    <%= t('views.tx_filter_detail_new.or') %>
                  <% elsif condiciones.connector == "1"  %>
                    <%= t('views.tx_filter_detail_new.and') %>
                  <% end %>
                </span>
              <% end %>
            </td>
            <td class="text-center expresion">
              <strong class="negado"><%= no %></strong>
              <% @idCampoCondi = condiciones.fieldFormat_id %>

              <% @camposLay.each do | camposLay | %>

                <% @idCampoFor = camposLay.IdCampo %>

                <% if ( @idCampoCondi  == @idCampoFor ) %>
                  <% @nombre =  camposLay.Nombre %>
                  <% @alias = camposLay.Alias %>

                  <% if @alias != "" %>
                    <span class="campo" value="<%= @idCampoCondi %>"><%= @alias %></span>
                  <% else %>
                    <span class="campo" value="<%= @idCampoCondi %>"><%= @nombre %></span>
                  <% end %>
                <% end %>
              <% end %>
              <% if condiciones.operator == "0" %>
                <% operador = "=" %>
              <% elsif condiciones.operator == "1" %>
                <% operador = "<>" %>
              <% elsif condiciones.operator == "2" %>
                <% operador = ">" %>
              <% elsif condiciones.operator == "3" %>
                <% operador = ">=" %>
              <% elsif condiciones.operator == "4" %>
                <% operador = "<" %>
              <% elsif condiciones.operator == "5" %>
                <% operador = "<=" %>
              <% elsif condiciones.operator == "6" %>
                <% operador = "Like" %>
              <% elsif condiciones.operator == "7" %>
                <% operador = "In" %>
              <% elsif condiciones.operator == "8" %>
                <% operador = "Between" %>
              <% end %>
              <strong class="operador" value="<%= condiciones.operator %>"><%= operador %></strong>
              <% if condiciones.operator == "8" %>
                <% valores = condiciones.value %>
                <% valorSplit = valores.split("}").join(" ") %>
                <% valoresBetween = valorSplit.split("{") %>
                <span class="valorUno" value="<%= valoresBetween[1] %>"><%= valoresBetween[1] %></span>
                <strong class="conector"><%= t('views.tx_filter_detail_new.and') %></strong>
                <span class="valorDos" value="<%= valoresBetween[2] %>"><%= valoresBetween[2] %></span>
              <% else %>
                <% if condiciones.value == "" %>
                  <span class="parenthesis">
                    <% if condiciones.parenthesis == "1" %>
                      (
                    <% else %>
                      )
                    <% end %>
                  </span>
                <% else  %>
                  <span class="valorUno" value="<%= condiciones.value %>"><%= condiciones.value %></span>
                <% end %>
              <% end %>

            </td>
<!--            <td class="text-center"><a href="/tx_filter_details/<%#= condiciones.id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a></td>-->
            <td class="text-center">
              <button type="button" id="condicion<%= condiciones.id %>"  value="<%= condiciones.id %>" class="btn btn-warning btn-xs  editCondi"  data-toggle="modal" data-target="#modal1" title="<%= t('all.edit') %> <%= t('views.tx_filter_index.condition') %>">
                <i class="fa fa-pencil "></i>
              </button>
            </td>
            <td class="tdDispNone filterCondi conectorVal" value="<%= condiciones.connector %>" name="conector"><%= condiciones.connector %></td>
            <td class="tdDispNone filterCondi denegadoVal" value="<%= condiciones.denied %>" name="denegado"><%= condiciones.denied %></td>
            <td class="tdDispNone filterCondi" value="<%= condiciones.operator %>" name="operador"><%= condiciones.operator %></td>
            <td class="tdDispNone filterCondi parentesisVal" value="<%= condiciones.parenthesis %>" name="parentesis"><%= condiciones.parenthesis %></td>
            <td class="tdDispNone filterCondi" value="<%= condiciones.value %>" name="valor"><%= condiciones.value %></td>
            <td class="tdDispNone filterCondi" value="<%= @idCampoCondi %>" name="campo"><%= @idCampoCondi %></td>
            <td class="tdDispNone filterCondi" value="<%= condiciones.position %>" name="posision"><%= condiciones.position %></td>
            <td class="tdDispNone filterCondi" value="<%= condiciones.lenght %>" name="longitud"><%= condiciones.lenght %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <!-- ## Final de los datos del Filtro ## -->

  <!-- ##### Modal Edit Condicion #######-->
  <section class="modal fade" id="modal1">
    <div class="modal-size">
      <div class="model-content">

        <!-- Header de la Modal -->
        <div class="modal-header">
          <h1><%= t('all.edit')%> <%= t('views.tx_filter_index.condition') %></h1>
        </div>

        <!-- Contenido de la Modal -->
        <div class="modal-body">
          <input type="hidden" id="idCondicion" name="idCondicion" value="">
          <form action="/tx_filter_details/" method="post" id="formEditCondicion" class="">
            <div class="row">
              <div class="col-lg-1 negadoEdit">
                <label for="" style="display: block"><%= t('views.tx_filter_detail_new.denied') %></label>

              </div>
              <div class="col-lg-1 conectorEdit">
                <label for=""><%= t('views.tx_filter_detail_new.connectors') %></label>
                <div class="connectorEdit">

                </div>
              </div>
              <div class="col-lg-2 campoEdit">
                <label for=""><%= t('views.tx_filter_new.parenthesis') %></label>
                <select name="campoEdit" id="campoEdit" class="form-control">
                  <option value=""><%= t('views.tx_filter_new.parenthesis') %></option>
                </select>
              </div>

              <div class="col-lg-2 operadorEdit">
                <label for=""><%= t('views.tx_filter_detail_new.operators') %></label>
                <select name="operadorEdit" id="operadorEdit" class="form-control">
                  <option value=""><%= t('views.tx_filter_new.parenthesis') %></option>
                  <option value="0"> = </option>
                  <option value="1"> <> </option>
                  <option value="2"> > </option>
                  <option value="3"> >= </option>
                  <option value="4"> < </option>
                  <option value="5"> <= </option>
                  <option value="6"> Like </option>
                  <option value="7"> In </option>
                  <option value="8"> Between </option>
                </select>
              </div>
              <div class="col-lg-3 valuesEdit">
                <label for="" style="display: block;"><%= t('views.tx_filter_detail_new.value') %></label>
                <div class="inputsVal">
                  <input type="text" id="unValor" value="" class="form-control valorUno">
                  <input type="text" id="dosValor" value="" class="form-control valorDos">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="tradu">
    <input type="hidden" id="andPalabra" value="<%= t('views.tx_filter_detail_new.and') %>">
    <input type="hidden" id="orPalabra" value="<%= t('views.tx_filter_detail_new.or') %>">
  </div>
  <!-- Fin de Modal Edit Condicion -->
  <%= f.submit t('all.save'), :class => 'btn btn-primary btn-xs saveEdit' %>
  <%= link_to t('all.back'),  tx_sessions_index_path, :class => 'btn btn-primary btn-xs'  %>
  <%#= button_tag(type: 'submit', class: 'btn btn-primary btn-xs') do %>
<!--    <i class="fa fa-upload"></i> <%#= t('views.mail_group_form.btn_Save') %>-->
  <%# end %>
<% end %>