<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title" >
      <h1><%= t('all.edit') %> <%= t('views.tx_filter_index.title') %></h1>
    </div>
    <div class="ibox-content">
      <%= render 'form', tx_filters: @tx_filters %>
<!--      <%#= link_to 'Show', @tx_filters %> |-->
      <%#= link_to t('all.back'), tx_sessions_index_path, class:'btn btn-primary btn-xs' %>
    </div>
  </div>
</div>





