<div class="ibox">
  <div class="ibox-title">
    <h1><%= t('all.new')%> <%= t('views.tx_filter_index.title') %></h1>
  </div>
  <div class="ibox-content">
    <%= render 'form', tx_filters: @tx_filter %>
  </div>
</div>





