<%= Gon::Base.render_data %>
<%= javascript_include_tag 'jquery' %>
<%#= javascript_include_tag 'applications' %>
<% label = @label.to_json %>
<% color = @color.to_json %>
<script>

    var i = 0;
    var label, datos, color, tempL, tempD, tempC

    label = <%=raw label %>;
    tempL = label[0];
    for (i = 1; i < label.length; i++) {
        tempL += label[i];
    }
    tempL = tempL.replace(new RegExp("'", 'g'), "").split(',');

    //datos = <%#=raw datos %>;
    //tempD = JSON.parse(datos);

    color = <%=raw color %>;
    tempC = color[0];
    for (i = 1; i < color.length; i++) {
        tempC += color[i];
    }
    tempC = tempC.replace(new RegExp("'", 'g'), "").split(',');

    $(function () {
        Morris.Area({
            //element: gon.area,
            element: <%= @idChart %>,
            data: [<%# @datosScript.each do |n|%> <%#= n%><%# end %>
                {time: '2017-01-27,13:22', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:23',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:24', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:25',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:26', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:27',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:28', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:34',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:35', general_site_50: 15, site_99: 24, dumi: 3}, {
                    time: '2017-01-27,13:36',
                    general_site_50: 110,
                    site_99: 250,
                    dumi: 22
                }, {time: '2017-01-27,13:37', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:38',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:39', general_site_50: 50, site_99: 110, dumi: 10}, {
                    time: '2017-01-27,13:40',
                    general_site_50: 25,
                    site_99: 55,
                    dumi: 5
                }, {time: '2017-01-27,13:41', general_site_50: 40, site_99: 88, dumi: 8}, {
                    time: '2017-01-27,13:42',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:43', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:44',
                    general_site_50: 60,
                    site_99: 132,
                    dumi: 12
                }, {time: '2017-01-27,13:45', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:46',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:47', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:48',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:49', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:50',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:51', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:52',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:53', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:54',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:55', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:56',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:57', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,13:58',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,13:59', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:00',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:01', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:02',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:03', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:04',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:05', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:06',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:07', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:08',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:09', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:10',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:11', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:12',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:13', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:14',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:15', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:16',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:17', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:18',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:19', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:20',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:21', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:22',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:23', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:24',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:25', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:26',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:27', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:28',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:29', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:30',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:31', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:32',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:33', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:34',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:35', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:36',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:37', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:38',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:39', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:40',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:41', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:42',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:43', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:44',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:45', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-27,14:45',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-27,14:45', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,16:56',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,16:58', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:00',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:02', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:04',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:20', general_site_50: 10, site_99: 21, dumi: 2}, {
                    time: '2017-01-31,17:22',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:24', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:26',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:28', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:30',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:32', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:34',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:36', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:38',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:40', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:42',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:44', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:46',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:48', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:50',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,17:52', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,17:54',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,18:09', general_site_50: 10, site_99: 15, dumi: 138}, {
                    time: '2017-01-31,18:11',
                    general_site_50: 0,
                    site_99: 0,
                    dumi: 0
                }, {time: '2017-01-31,18:13', general_site_50: 0, site_99: 0, dumi: 0}, {
                    time: '2017-01-31,18:25',
                    general_site_50: 10,
                    site_99: 15,
                    dumi: 31
                }, {time: '2017-01-31,18:25', general_site_50: 10, site_99: 15, dumi: 31}, {
                    time: '2017-01-31,18:25',
                    general_site_50: 10,
                    site_99: 15,
                    dumi: 31
                }, {time: '2017-01-31,18:25', general_site_50: 10, site_99: 15, dumi: 31}
            ],
            xkey: 'time',
            ykeys: [<% @label.each do |x| %>
                <%= x %>
                <% end %>],
            resize: true,
            lineWidth: 4,
            labels: [<% @label.each do |x| %>
                <%= x %>
                <% end %>],
            lineColors: tempC,
            pointSize: 5,
            parseTime: false,
            hideHover: true
        });
    });
</script>