<%= Gon::Base.render_data %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'comparasions' %>
<%#= javascript_include_tag 'application' %>
<!--<input type="text" value="<%= PorcentualSession.where("inactive = 0").count %>" id="sesAntes">-->

<div class="row">
  <div class="col-md-6 text-center">
    <h5><b><%= t('views.comparasions_dynamic.date_Start') %>:</b> <%= @fechaInicio %></h5>
  </div>
  <div class="col-md-6 text-center">
    <h5><b><%= t('views.comparasions_dynamic.date_End') %>:</b> <%= @fechaFin %></h5>
  </div>
</div>

<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" role="widget" data-widget-editbutton="true">
  <header role="heading">
    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
    <h2><%= @sessionName %></h2>
  </header>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div id="<%= @idChart %>" name="<%= @idChart %>" style="height: 35vh"></div>
      </div>
    </div>
  </div>
</div>

<script>

    <% if @btn == true %>
    $('.entrada, .salida').datepicker({
        format: "yyyy/mm/dd",
        language: 'es',
        todayBtn: "linked",
        autoclose: true,
        calendarWeeks: true,
    });
    <% end %>

    $(document).ready(function () {
        g1 = new Dygraph(document.getElementById("<%= @idChart %>"),

            <% count = 0 %>
            <% total = @datosScript.count %>
            <% @datosScript.each do |valores| %>
            <% count += 1 %>
            <% if count != total %>
            "<%= valores %>\n" +
            <% else %>
            "<%= valores %>\n"
            <% end %>
            <% end %>,

            {
                colors: [
                    "rgb(0, 48, 87)",
                    "rgb(139, 0, 139)",
                    "rgb(0, 191, 255)",
                    "rgb(0, 139, 139)"
                ],
                labels:
                    [
                        <% @label.each do |label| %>
                        "<%= label %>",
                        <% end %>
                    ],
                showRoller: true,
                highlightCircleSize: 5,
                highlightSeriesOpts: {
                    strokeWidth: 3,
                    strokeBorderWidth: 1,
                },
                showRangeSelector: true,
                labelsDivStyles: {
                    'textAlign': 'right'
                },
                rangeSelectorPlotStrokeColor: '#003057',
                drawPoints: true,
                rangeSelectorPlotFillColor: '#003057'
            }
        )
    });

</script>