<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'comparasions' %>
<div class="row">
  <br><br>
  <h1 class="text-center"><i class="fa fa-exclamation-circle"></i><%= t('views.comparasion_empty.with_Data') %></h1><br>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <div class="loader"></div>
  </div>
  <div class="col-md-5"></div>
</div>

<script type="text/javascript" charset="utf-8">

    <% if @btn2 == true %>

    $('.entrada, .salida').datepicker({
        format: "yyyy/mm/dd",
        language: 'es',
        todayBtn: "linked",
        autoclose: true,
        calendarWeeks: true,
    });

    <% end %>

</script>
