<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <div class="loader" id="loader"></div>
  </div>
  <div class="col-md-5"></div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <div class="loader"></div>
  </div>
  <div class="col-md-5"></div>
</div>