<h1><%= t('views.comparasions_edit.comparasions_Edit') %></h1>
<p>Find me in app/views/comparasions/edit.html.erb</p>

<% config = Rails.configuration.database_configuration
   database = config[Rails.env]["database"]
%>
<% @sessions = PorcentualSession.where("inactive = 0") %>
<% sql = nil %>
<% query = nil %>
<% contador = 0 %>
<% resultado = nil %>
<% @sessions.each do |session| %>
    <% sql = 'tr' + Time.now.strftime('%Y%m%d').to_s + session.id.to_s.rjust(4, '0') %>
    <%# sql = 'tr201701040005' %>
    <% query = "SELECT SUM(value) FROM `"+database+"`."+sql %>
    <% if ActiveRecord::Base.connection.table_exists? sql %>
        <% resultado = ActiveRecord::Base.connection.exec_query(query) %>
        <% contador += resultado[0]['SUM(value)'] %>
    <% end %>
<% end %>

<% @sessions.each do |session| %>
    <% sql = 'tr' + Time.now.strftime('%Y%m%d').to_s + session.id.to_s.rjust(4, '0') %>
    <% cuenta = 0 %>
    <% i = 0 %>
    <%# sql = 'tr201701040005' %>
    <% if ActiveRecord::Base.connection.table_exists? sql %>
        <%#= query = "SELECT SUM(value), COUNT(porcentual_filter_id), porcentual_filter_id FROM `"+database+"`."+sql+" GROUP BY porcentual_filter_id ORDER BY porcentual_filter_id ASC" %>
        <% query = "SELECT SUM(value), COUNT(procentual_filter_id), procentual_filter_id FROM `"+database+"`."+sql+" GROUP BY procentual_filter_id ORDER BY procentual_filter_id ASC" %>
        <% resultado = ActiveRecord::Base.connection.exec_query(query) %>
        <% while (!resultado[i].nil?) do %>
            <% cuenta += resultado[i]['SUM(value)'] %>
            <% i += 1 %>
        <% end %>
        <% i = 0 %>

        <div class="panel">
          <div class="panel-heading" style="padding: 10px 7px;">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <button type="button" style="background-color: white; border-color: white" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#<%= session.id %>">
                <span class="fa fa-chevron-down" style="color: #1AB394"></span>
              </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <%= session.description %>
            </div>
            <span class="badge badge-primary"><%= cuenta %></span>
          </div>

          <div id="<%= session.id %>" class="collapse panel-body" style="padding: 10px 0px">
            <% while (!resultado[i].nil?) do %>
                <% if resultado[i]['procentual_filter_id'].to_i != 0 %>
                    <% filtro = PorcentualFilter.find(resultado[i]['procentual_filter_id']) %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <%= filtro.description %>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <span class="badge" style="background-color: <%= filtro.backgroundColor %>"><strong style="color: white"><%= resultado[i]['SUM(value)'].to_i %></strong></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <span class="pie"><%= resultado[i]['SUM(value)'] %>/ <%= cuenta %> </span>
                        </div>
                      </div>
                    </div>
                <% else %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          Dummy
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <span class="badge" style="background-color: rgb(255, 0, 0)"><strong style="color: white"><%= resultado[i]['SUM(value)'].to_i %></strong></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <span class="pie"><%= resultado[i]['SUM(value)'] %>/ <%= cuenta %> </span>
                        </div>
                      </div>
                    </div>
                <% end %>
                <% i += 1 %>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>
<script>
    $("span.pie").peity("pie", {
        fill: ['#1ab394', '#d7d7d7', '#ffffff']
    });
</script>