<!-- Vista de Porcentual -->
<div class="block-area" id="responsiveTable">
  <div class="ibox-title">
    <h1><%= t('views.comparasions_index.title') %></h1>
    <div class="panel">
      <div class="panel-body">
        <div class="block-area" id="tableBordered">
          <div class="ibox-content">

            <input type="hidden" value="<%= current_user.id %>" name="id_user" id="NoUsuario">
            <div class="col-md-12 ">
              <div class="row">
                <div class="ibox float-e-margins" style="margin-bottom: -17px">
                  <div class="ibox-title" id="form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-1">
                          <label>
                            <h5><%= t('views.comparasions_index.area_1') %></h5>
                          </label>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group" id="dato_1">
                            <label align="center"><%= t('views.comparasions_index.date_Start') %></label>

                            <div class="input-group datepicker">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <input type="text" class="form-control entrada" placeholder="MM/DD/YYYY" required id="inicioCom">
                              <font color="#8b0000"><label id="errorinicioCom" style="display: none;"></label></font>
                              <input type="hidden" class="form-control" id="oculto">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group" id="dato_1">
                            <label align="center"><%= t('views.comparasions_index.date_End') %></label>

                            <div class="input-group datepicker">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <input type="text" class="form-control salida" placeholder="MM/DD/YYYY" required id="finalCom">
                              <font color="#8b0000"><label id="errorfinalCom" style="display: none;"></label></font>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group" style="margin-top: 26px">
                            <select class="form-control" id="sessionCom">
                              <option value=""><%= t('views.comparasions_index.select_Session') %></option>
                              <% @sess = PorcentualSession.where("inactive = 0 "); %>
                              <%# @sess = PorcentualSession.where(:inactive => '0') %>
                              <% @sess.each do |sess| %>
                                <option value="<%= sess.id %>"><%= sess.description %></option>
                              <% end %>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label></label>
                            <div class="input-group" style="margin-top: 7px;">
                              <%= button_tag(type: 'button', value: 'Comparar', id: 'envValCom', class: 'btn btn-primary') do %>
                                <i class="fa fa-line-chart"></i> <%= t('views.comparasions_index.compare') %>
                              <% end %>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-1">
                          <div class="form-group" style="margin-top: 32px">
                            <div class="checkbox checkbox-primary">
                              <input type="checkbox" class="checkbox checkbox-primary" id="comparaCom">
                              <label> <%= t('views.comparasions_index.compare') %></label>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="ibox-content" style="min-height: 40vh">
                    <div class="area1">
                      <%= render partial: 'comparasions/empty' %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-12" id="grafica2Comp" style="display: none; margin-bottom: 25px;">
              <div class="row">
                <div class="ibox float-e-margins">
                  <div class="ibox-title" id="form2">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-1">
                          <label>
                            <h5><%= t('views.comparasions_index.area_2') %></h5>
                          </label>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group" id="dato_1">
                            <label align="center"><%= t('views.comparasions_index.date_Start') %></label>

                            <div class="input-group datepicker">
                              <span class="input-group-addon" id="fecha12Com"><i class="fa fa-calendar"></i></span>
                              <input type="text" class="form-control entrada" placeholder="MM/DD/YYYY" required id="inicioCom2" disabled>
                              <font color="#8b0000"><label id="errorinicioCom2" style="display: none;"></label></font>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group" id="dato_1">
                            <label align="center"><%= t('views.comparasions_index.date_End') %></label>

                            <div class="input-group datepicker">
                              <span class="input-group-addon" id="fecha22Com"><i class="fa fa-calendar"></i></span>
                              <input type="text" class="form-control salida" placeholder="MM/DD/YYYY" required id="finalCom2" disabled>
                              <font color="#8b0000"><label id="errorfinalCom2" style="display: none;"></label></font>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group" style="margin-top: 9px">
                            <label></label>
                            <select class="form-control" id="sessionCom2" disabled>
                              <option value=""><%= t('views.comparasions_index.select_Session') %></option>
                              <% @sess = PorcentualSession.where("inactive = 0 "); %>
                              <% @sess.each do |sess| %>
                                <option value="<%= sess.id %>"><%= sess.description %></option>
                              <% end %>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label></label>

                            <div class="input-group" style="margin-top: 9px">
                              <%= button_tag(type: 'button', value: 'Comparar', id: 'envValCom2', class: 'btn btn-primary', disabled: 'true') do %>
                                <i class="fa fa-line-chart"></i> <%= t('views.comparasions_index.compare') %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ibox-content" style="min-height: 40vh">
                    <!--<div >-->
                    <div class="area2">
                      <%= render partial: 'comparasions/empty' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function () {

        $('#envValCom').click(function () {
            var form = $(this).parents('#form');
            var check = checkCampos(form);
            if (check) {
                $('.loader').show();
            } else {
                $('.loader').hide();
            }
        });
        $('#envValCom').click(function () {
            var form = $(this).parents('#form');
            var check = checkSelect(form);
            if (check) {
                $('.loader').show();
            } else {
                $('.loader').hide();
            }
        });
        $('#envValCom2').click(function () {
            var form = $(this).parents('#form2');
            var check = checkCampos(form);
            if (check) {
                $('.loader').show();
            } else {
                $('.loader').hide();
            }
        });
        $('#envValCom2').click(function () {
            var form = $(this).parents('#form2');
            var check = checkSelect(form);
            if (check) {
                $('.loader').show();
            } else {
                $('.loader').hide();
            }
        })
    });

    function checkCampos(obj) {
        var campos = true;
        obj.find('input').each(function () {
            var $this = $(this);
            if ($this.val().length <= 0) {
                campos = false;
                return false;
            }
        });
        if (campos == false) {
            return false;
        } else {
            return true;
        }
    }

    function checkSelect(obj) {
        var sel = true;
        obj.find('select').each(function () {
            var $this = $(this);
            if ($this.val().length <= 0) {
                sel = false;
                return false;
            }
        });
        if (sel == false) {
            return false;
        } else {

        }
    }

    $('#inicioCom, #finalCom, #inicioCom2, #finalCom2').on('input', function () {
        valor = $(this).val();
        patron = /^[0-9/]*$/
        remp = /[^ 0-9/]+/gi
        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });

    $('.entrada, .salida').datepicker({
        format: "yyyy/mm/dd",
        language: 'es',
        todayBtn: "linked",
        autoclose: true,
        calendarWeeks: true,
    });
    //Script para los datepicker//

</script>

<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #003057;
    width: 170px;
    height: 170px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    padding-left: 20px;
    display: none;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>