<%= form_for @group, :html => {:class => "form-horizontal", :id => "form1"} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>
  <br>

  <div class="row">
    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-1 text-center">
        <%= f.label t('views.groups_index.name'), :class => "control-label" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, :class => "form-control", :id => "name", :placeholder => t('views.groups_index.place'), :autocomplete => :off, :required => true %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if action_name == "edit" %>
        <table class="table table-bordered table-striped table-condensed toggle-circle-filled title" datapagesize="8" data-filter=#filter id="table">
          <br>
          <thead>
          <tr>
            <th class="text-center" style="width: 30px"><%= t('views.groups_form.hab') %></th>
            <th class="text-center"><%= t('views.groups_form.seccion') %></th>
            <th class="text-center" style="width: 30px;"><%= t('views.groups_form.Campo') %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.detail.present? %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="detail" id="checkbox1" checked>
                  <label for="checkbox1"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="detail" id="checkbox1">
                  <label for="checkbox1"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :detail, t('views.groups_form.detail'), :class => "control-label" %>
            </td>
            <td>
              <div id="col1">
                <select id="select1" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" name="select1">
                  <option value="Ticket">Ticket</option>
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <option value="Mensaje"><%= t('views.groups_form.mensaje') %></option>
                  <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo1" name="campo1">
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.reference.present? %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="reference" id="checkbox2" checked>
                  <label for="checkbox2"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="reference" id="checkbox2">
                  <label for="checkbox2"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :reference, t('views.groups_form.ref'), :class => "control-label" %>
            </td>
            <td>

              <div id="col2">
                <select id="select2" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <% @consulta.each do |ref| %>
                    <option value="<%= ref.campo %>"><%= ref.campo %></option>
                  <% end %>
                </select>
                <input type="hidden" class="form-control" id="campo2" name="campo2">
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.area.present? %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox3" name="area" checked>
                  <label for="checkbox3"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="checkbox3" name="area">
                  <label for="checkbox3"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :area, t('views.groups_form.area'), :class => "control-label" %>
            </td>
            <td>
              <div id="col3">
                <select id="select3" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Observaciones"><%= t('views.groups_form.observaciones') %></option>
                  <option value="Estado"><%= t('views.groups_form.estado') %></option>
                  <option value="Usuario"><%= t('views.groups_form.usuario') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo3" name="campo3">
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.hist_alert.present? %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_alert" id="checkbox4" checked>
                  <label for="checkbox4"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_alert" id="checkbox4">
                  <label for="checkbox4"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :hist_alert, t('views.groups_form.hist_alert'), :class => "control-label" %>
            </td>
            <td>
              <div id="col4">
                <select id="select4" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <option value="Ticket">Ticket</option>
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                  <option value="Estado"><%= t('views.groups_form.estado') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo4" name="campo4">
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">

              <% if @btn == true && @group.hist_trans.present? %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_trans" id="checkbox5" checked>
                  <label for="checkbox5"></label>
                </div>

              <% else %>

                <div class="checkbox checkbox-primary">
                  <input type="checkbox" name="hist_trans" id="checkbox5">
                  <label for="checkbox5"></label>
                </div>

              <% end %>

            </td>
            <td class="text-center">
              <%= f.label :hist_trans, t('views.groups_form.hist_trans'), :class => "control-label" %>
            </td>
            <td style="width: 320px">
              <div id="col5">
                <select id="select5" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <% @consulta.each do |ref| %>
                    <option value="<%= ref.campo %>"><%= ref.campo %></option>
                  <% end %>
                </select>
                <input type="hidden" class="form-control" id="campo5" name="campo5">
                <br>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-3" style="padding-left: 35px">
                    <label class="control-label text-center">Fraude</label>
                  </div>
                  <div class="col-md-5"></div>
                </div>

                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center">

                    <div class="radio radio-primary">
                      <input type="radio" name="radioref3" id="radioref3" value="true">
                      <label for="radioref3">Si</label>
                    </div>

                  </div>
                  <div class="col-md-4 text-center">

                    <div class="radio radio-primary">
                      <input type="radio" name="radioref4" id="radioref4" value="false">
                      <label for="radioref4">No</label>
                    </div>

                  </div>
                  <div class="col-md-2"></div>
                </div>
                <input type="hidden" class="form-control" id="camporadio" name="camporadio">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table table-bordered table-striped table-condensed toggle-circle-filled title" datapagesize="8" data-filter=#filter id="table">
          <br>
          <thead>
          <tr>
            <th class="text-center" style="width: 30px"><%= t('views.groups_form.hab') %></th>
            <th class="text-center"><%= t('views.groups_form.seccion') %></th>
            <th class="text-center" style="width: 30px;"><%= t('views.groups_form.Campo') %></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="detail" id="checkbox1">
                <label for="checkbox1"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :detail, t('views.groups_form.detail'), :class => "control-label" %>
            </td>
            <td>
              <div id="col1">
                <select id="select1" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple" name="select1[]">
                  <option value="Ticket">Ticket</option>
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <option value="Mensaje"><%= t('views.groups_form.mensaje') %></option>
                  <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo1" name="campo1">
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="reference" id="checkbox2">
                <label for="checkbox2"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :reference, t('views.groups_form.ref'), :class => "control-label" %>
            </td>
            <td>
              <div id="col2">
                <select id="select2" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <% @consulta.each do |ref| %>
                    <option value="<%= ref.campo %>"><%= ref.campo %></option>
                  <% end %>
                </select>
                <input type="hidden" class="form-control" id="campo2" name="campo2">
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" id="checkbox3" name="area">
                <label for="checkbox3"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :area, t('views.groups_form.area'), :class => "control-label" %>
            </td>
            <td>
              <div id="col3">
                <select id="select3" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Observaciones"><%= t('views.groups_form.observaciones') %></option>
                  <option value="Estado"><%= t('views.groups_form.estado') %></option>
                  <option value="Usuario"><%= t('views.groups_form.usuario') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo3" name="campo3">
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="hist_alert" id="checkbox4">
                <label for="checkbox4"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :hist_alert, t('views.groups_form.hist_alert'), :class => "control-label" %>
            </td>
            <td>
              <div id="col4">
                <select id="select4" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <option value="Ticket">Ticket</option>
                  <option value="Fecha/Hora"><%= t('views.groups_form.Fecha') %></option>
                  <option value="Origen"><%= t('views.groups_form.origen') %></option>
                  <option value="Filtro"><%= t('views.groups_form.filtro') %></option>
                  <option value="Estado"><%= t('views.groups_form.estado') %></option>
                  <option value="Analista"><%= t('views.groups_form.analista') %></option>
                  <option value="Atender"><%= t('views.groups_form.atender') %></option>
                </select>
                <input type="hidden" class="form-control" id="campo4" name="campo4">
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-center">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" name="hist_trans" id="checkbox5">
                <label for="checkbox5"></label>
              </div>
            </td>
            <td class="text-center">
              <%= f.label :hist_trans, t('views.groups_form.hist_trans'), :class => "control-label" %>
            </td>
            <td style="width: 320px">
              <div id="col5">
                <select id="select5" data-placeholder="<%= t('views.groups_form.please') %>" class="chosen" multiple="multiple">
                  <% @consulta.each do |ref| %>
                    <option value="<%= ref.campo %>"><%= ref.campo %></option>
                  <% end %>
                </select>
                <input type="hidden" class="form-control" id="campo5" name="campo5">
                <br>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-3" style="padding-left: 35px">
                    <label class="control-label text-center">Fraude</label>
                  </div>
                  <div class="col-md-5"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref3" id="radioref3" value="1">
                      <label for="radioref3">Si</label>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <div class="radio radio-primary">
                      <input type="radio" name="radioref4" id="radioref4" value="0">
                      <label for="radioref4">No</label>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <input type="hidden" class="form-control" id="camporadio" name="camporadio">
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <br>
  <%= button_tag(type: 'submit', name: 'save_mails', class: 'btn btn-primary btn-xs', :disabled => true, id: 'save_mails', data: {:no_turbolink => true}) do %>
    <i class="fa fa-envelope"></i> <%= t('all.save') %>
  <% end %>

  <%= link_to '<span class="fa fa-envelope" ></span>  '.html_safe + t('all.back'), groups_path, :class => 'btn btn-xs btn-primary' %>
<% end %>

<style>
  select {
    width: 300px;
  }

</style>

<script type="text/javascript">

    $('#radioref3').on("click", function () {
        $('#radioref4').prop("checked", false);

        var radio = $(this).val();
        var radioall = String(radio)
        $('#camporadio').val(radioall)
    });

    $('#radioref4').on("click", function () {
        $('#radioref3').prop("checked", false);

        var radio2 = $(this).val();
        var radioll2 = String(radio2)
        $('#camporadio').val(radioll2)
    });


    $("#select1").change(function () {
        var campo = $(this).val()
        var campo_all = String(campo)
        $('#campo1').val(campo_all)
    });
    $("#select2").change(function () {
        var campo2 = $(this).val()
        var campo_all2 = String(campo2)

        $("#campo2").val(campo_all2)
    });
    $("#select3").change(function () {
        var campo3 = $(this).val()
        var campo_all3 = String(campo3)

        $("#campo3").val(campo_all3)
    });
    $("#select4").change(function () {
        var campo4 = $(this).val()
        var campo_all4 = String(campo4)

        $("#campo4").val(campo_all4)
    });
    $("#select5").change(function () {
        var campo5 = $(this).val()
        var campo_all5 = String(campo5)

        $("#campo5").val(campo_all5)
    });


    $(".chosen").chosen();

    $(document).ready(function () {

        //Ocultar y mostrar los select multiple al chequear un checkbox
        <% if action_name == "edit" %>

        <% if @btn == true && @group.detail.present? %>
        $('#col1').show();
        <% else %>
        $('#col1').hide();
        <% end %>

        <% if @btn == true && @group.reference.present? %>
        $('#col2').show();
        <% else %>
        $('#col2').hide();
        <% end %>

        <% if @btn == true && @group.area.present? %>
        $('#col3').show();
        <% else %>
        $('#col3').hide();
        <% end %>

        <% if @btn == true && @group.hist_alert.present? %>
        $('#col4').show();
        <% else %>
        $('#col4').hide();
        <% end %>

        <% if @btn == true && @group.hist_trans.present? %>
        $('#col5').show();
        <% else %>
        $('#col5').hide();
        <% end %>

        <% else %>

        $('#col1, #col2, #col3, #col4, #col5').hide();

        <% end %>

        $('#checkbox1').on('change', function () {
            if (this.checked) {
                $("#col1").show();
            } else {
                $('.chosen').val([]).trigger('chosen:updated');
                $('#campo1').val("");
                $("#col1").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox2').on('change', function () {
            if (this.checked) {
                $("#col2").show();
                $("#checkbox5").prop("disabled", true);
            } else {
                $("#checkbox5").prop("disabled", false);
                $('#campo2').val("");
                $('.chosen').val([]).trigger('chosen:updated');
                $("#col2").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox3').on('change', function () {
            if (this.checked) {
                $("#col3").show();
            } else {
                $('.chosen').val([]).trigger('chosen:updated');
                $('#campo3').val("");
                $("#col3").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox4').on('change', function () {
            if (this.checked) {
                $("#col4").show();
            } else {
                $('.chosen').val([]).trigger('chosen:updated');
                $('#campo4').val("");
                $("#col4").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
        $('#checkbox5').on('change', function () {
            if (this.checked) {
                $("#col5").show();
                $("#checkbox2").prop("disabled", true);
            } else {
                $("#checkbox2").prop("disabled", false);
                $("#radioref3").prop("checked", false);
                $("#radioref4").prop("checked", false);
                $('#campo5').val("");
                $('#camporadio').val("");
                $('.chosen').val([]).trigger('chosen:updated');
                $("#col5").hide();
                $('#save_mails').prop('disabled', true)
            }
        });
    });


    $('#select1').change(function () {
        var campo1 = $(this).val();
        var campo2 = $("#select2").val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $("#select5").val();

        if (campo1 != '' || campo2 != '' || campo3 != '' || campo4 != '' || campo5 != '') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    $('#select2').change(function () {
        var campo1 = $("#select1").val();
        var campo2 = $(this).val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $("#select5").val();

        if (campo1 != '' || campo2 != '' || campo3 != '' || campo4 != '' || campo5 != '') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    $('#select3').change(function () {
        var campo1 = $("#select1").val();
        var campo2 = $("#select2").val();
        var campo3 = $(this).val();
        var campo4 = $("#select4").val();
        var campo5 = $("#select5").val();

        if (campo1 != '' || campo2 != '' || campo3 != '' || campo4 != '' || campo5 != '') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    $('#select4').change(function () {
        var campo1 = $("#select1").val();
        var campo2 = $("#select2").val();
        var campo3 = $("#select3").val();
        var campo4 = $(this).val();
        var campo5 = $("#select5").val();

        if (campo1 != '' || campo2 != '' || campo3 != '' || campo4 != '' || campo5 != '') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    $('#select5').change(function () {
        var campo1 = $("#select1").val();
        var campo2 = $("#select2").val();
        var campo3 = $("#select3").val();
        var campo4 = $("#select4").val();
        var campo5 = $(this).val();

        if (campo1 != '' || campo2 != '' || campo3 != '' || campo4 != '' || campo5 != '') {
            $('#save_mails').prop("disabled", false)
        } else {
            $('#save_mails').prop("disabled", true)
        }
    });

    //Validacin para que los inputs no acepten NÚMEROS
    $('.form-control').on('input', function () {
        valor = $(this).val();
        patron = /^[ a-zA-Záéíóúüñ]*$/
        remp = /[^ a-zA-Záéíóúüñ]/gi
        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });


    //---- Validación de campos requeridos.
    $('#form1').validate({
        messages: {
            "group[name]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    //---- Fin validación de campos requeridos
</script>