<%= form_for(user) do |f| %>
    <div class="actions">
      <% lastAc = User.find(params[:id])%>
      <input type="hidden" value="<%= lastAc.last_activity_at %>" name="valorPasado">
      <input type="hidden" value="<%= params[:id] %>">
      <center><%= f.submit t('views.users_activate.activate'), :class => 'btn btn-success' %></center>

    </div>
<% end %>