<button class="btn btn-rounded uti pos hvr-buzz-out" id="btnalert">
  <%
    consulta = 'trcestatus'
    if ActiveRecord::Base.connection.table_exists? consulta
      @fecha = '2018-05-23'

      #sql_query = "select Fecha, Hora from trcestatus order by Id desc limit 1"
      sql_query = "select top 1 Fecha, Hora from trcestatus order by Id desc"
      Timeout::timeout(0) {@alerta_existente = ActiveRecord::Base::connection.exec_query(sql_query)}

      if !@alerta_existente.nil?
        @alerta_existente.each do |al|
          @fecha_c = al['Fecha']
          @hora = al['Hora']
        end
      else
        puts 'Error conexión no encontrada'
        @sin_conexion = true
      end
    end

    @hora_act = Time.now
    @ult_conexion = @fecha_c + " " + @hora
    @ult_conexion = @ult_conexion.to_datetime
    @tiempo_conexion = ((@hora_act - @ult_conexion) / 1.minutes).to_i - 300
    @tiempo_conexion = @tiempo_conexion.to_s

    @horario = GestorSetting.last
    @days = Hash.new
    @days['1'] = @horario.day_start
    @days['2'] = @horario.day_end
    @days['3'] = @horario.night_start
    @days['4'] = @horario.night_end

    @diurno = GestorSetting.last
    @diur = Hash.new
    @diur['1'] = @diurno.blue_day
    @diur['2'] = @diurno.blue_day_end
    @diur['3'] = @diurno.yellow_day
    @diur['4'] = @diurno.yellow_day_end
    @diur['5'] = @diurno.red_day
    @diur['6'] = @diurno.red_day_end

    @nocturno = GestorSetting.last
    @noc = Hash.new
    @noc['1'] = @nocturno.blue_night
    @noc['2'] = @nocturno.blue_night_end
    @noc['3'] = @nocturno.yellow_night
    @noc['4'] = @nocturno.yellow_night_end
    @noc['5'] = @nocturno.red_night
    @noc['6'] = @nocturno.red_night_end


    # Si el horario es diurno valida los tiempos de diurno
    if ((@hora_act >= @days['1']) && (@hora_act <= @days['2']))
      if ((@tiempo_conexion <= @diur['1']) && (@tiempo_conexion <= @diur['2']))
        @azul = true
      elsif ((@tiempo_conexion <= @diur['3']) && (@tiempo_conexion <= @diur['4']))
        @amarillo = true
      elsif (@tiempo_conexion > @diur['5'])
        @rojo = true
      end
      #De lo contrario valida el horario nocturno.
    else
      #si el tiempo normal limite es menor al tiempo de inicio de precuación
      if ((@tiempo_conexion <= @noc['1']) && (@tiempo_conexion <= @noc['2']))
        @azul = true
        #si el tiempo normal limite es mayor al tiempo de inicio de precaución y el tiempo limite de precaución es menor al inicio de alerta.
      elsif ((@tiempo_conexion <= @noc['3']) && (@tiempo_conexion <= @noc['4']))
        @amarillo = true
        #si el tiempo limite de precaución es mayor al de alerta.
      elsif (@tiempo_conexion > @noc['5'])
        @rojo = true
      end

    end
  %>
  <i class="fa fa-clock-o"></i> <%= @fecha_c %> <%= @hora %>
</button>

<script>

    <% if @azul %>
    $(document).ready(function () {
        $('#btnalert').addClass('uti');
        $('#poslab2').hide();
    });
    <% elsif @amarillo %>
    $(document).ready(function () {
        $('#btnalert').removeClass('uti');
        $('#btnalert').addClass('uta');
        $('#poslab2').hide();
    });
    <% elsif @rojo %>
    $(document).ready(function () {
        $('#btnalert').removeClass('uti');
        $('#btnalert').addClass('utr');
        $('#poslab').hide();
        $(document).ready(parpa);

        function parpa() {
            $('#poslab2').fadeIn(500).delay(250).fadeOut(500, parpa)
            setTimeout("$('#poslab2').stop(true,true).css('opacity', 1)", 5000);
        }
    });

    <% end %>

</script>

<style>
  .pos {
    position: absolute;
  }

  .uti {
    background-color: #003057;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: white;
  }

  .uta {
    background-color: #fffb3a;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: black;
  }

  .utr {
    background-color: #ff1a26;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: white;
  }

  /* Buzz Out */
  @-webkit-keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }

  @keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }

  .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: whitesmoke;
  }

</style>