<strong class="color1">Transaccional:</strong></i>
<small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).count %></small> <br>
<strong class="color2">Perfiles:</strong>
<small class="no-margins color2"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).count %></small> <br>

<style>
  small, strong {
    font-size: medium;
  }

  .color1 {
    color: #498fc8;
    text-shadow: #498fc8;
  }

  .color2 {
    color: #14568c;
    text-shadow: #14568c;
  }

</style>

<script>
  console.log("total contador abajo")
</script>