<%= form_for @mail_group, :html => {:class => "form-horizontal", :id => "new_mail"} do |f| %>
  <% if @mail_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_group.errors.count, "error") %> prohibited this mail_group from being saved:</h2>

      <ul>
        <% @mail_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="panel">
    <div class="panel-body">
      <div class="block-area" id="tableBordered">
        <div class="ibox-content">

          <% if params[:id] %>
            <input type="hidden" value="<%= params[:id] %>" name="id_group" id="id_gr">
          <% elsif params[:id_group] %>
            <input type="hidden" value="<%= params[:id_group] %>" name="id_group" id="id_gr">
          <% end %>

          <div class="row">
            <div class="from-group">
              <div class="col-md-2"></div>
              <div class="col-md-1">
                <%= f.label t('views.mail_group_form.correo'), :class => 'control-label' %>
              </div>
              <div class="col-md-7">
                <%= f.text_field :correo, :class => 'form-control', :placeholder => t('views.mail_group_form.correo_Place'), :id => 'mail', :autocomplete => :off, :required => true, :oninput => "setCustomValidity('')", :max_length => '255' %>
                <font color="#8b0000"><label id="errorMail" style="display: none;"></label></font>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

        </div>
      </div>
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-xs') do %>
        <i class="fa fa-upload"></i> <%= t('views.mail_group_form.btn_Save') %>
      <% end %>
      <%= link_to '<span class="fa fa-envelope" ></span> '.html_safe + t('all.back'), groups_path, :class => 'btn btn-xs btn-primary' %>
    </div>
  </div>
  <br>
  <br>
<% end %>

<script type="text/javascript">

    //---- Validación de email
    $('#mail').change(function () {
        var em = $(this).val();
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(em)) {
            $("#mail").val(em);
            $("#errorMail").hide();
        } else {
            var msg = "<%= t('views.registration_new.mail_err')%>";
            document.getElementById('errorMail').innerHTML = msg;
            $("#mail").val("");
            $("#mail").focus();

        }
    });

    $('#mail').on('input', function () {
        $(this).val($(this).val().replace(/[^a-zA-Z0-9-_.@\b]/gi, ''));
    });

    //---- Fin validación de email

    //---- Validación de campos requeridos.
    $('#new_mail').validate({
        messages: {
            "mail_group[correo]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    //---- Fin validación de campos requeridos
</script>
