<%= stylesheet_link_tag "tx_sessions" %>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title" >
      <% if action_name == "new" %>
        <h2><%= t('views.tx_session_new.title') %> </h2>
      <% else %>
        <h2>Edit Session</h2>
      <% end %>
    </div>
    <div class="traducciones" style="display: none;">
      <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
      <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
      <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
      <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
      <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
      <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
      <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
      <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
      <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
      <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
      <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
      <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
      <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
      <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
      <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
      <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
      <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
      <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
      <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
      <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
      <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
      <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
    </div>
    <div class="ibox">
      <div class="ibox-content">
        <%= form_for @tx_session, :html => {:class => 'wizard-big', :id => 'form'} do |f| %>
          <% if @tx_session.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tx_session.errors.count, "error") %> prohibited this tx_session from being saved:</h2>

              <ul>
              <% tx_session.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <input id="userId" type="hidden" value="<%= current_user.id %>">
          <h1><i class="fa fa-user-circle"></i> <%= t('views.tx_session_index.session') %></h1>

          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <h3 class="text-center"><%= t('views.tx_session_new.subtitle') %></h3>
            <br>
            <%= f.hidden_field :Format_id, :value => 1 %>
            <%#= f.collection_select :format_id, Format.order(:id), :id, :description, {:include_blank => "Format . . ."}, {:class => "form-control", :required => true} %>
            <%= f.hidden_field :Lay_id, :value => 1 %>
            <%#= f.collection_select :lay_id, Lay.order(:id), :id, :description, {:include_blank => "Lay . . ."}, {:class => "form-control", :required => true} %>


            <div class="row">
              <div class="col-lg-12">

<!--                <div class="form-group col-lg-4 col-md-4">-->
                  <%#= f.label :key_id, t('views.porcentual_sessions_new.number_Order') %>
                  <%#= f.number_field :key_id, :class => "form-control", :value => @orden, :requiered => true, :id => 'orden_session' %>
<!--                  <input type="text" disabled value="<%#= @orden %>" class="form-control">-->
                  <%#= f.hidden_field :key_id, :class => "form-control", :value => @orden, :requiered => true, :id => 'orden_session' %>
<!--                  <span id="span_session" class="btn btn-danger btn-xs" style="display: none"></span>-->
<!--                </div>-->

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Lay_id, "Layout" %>
                  <select id="layout" class="form-control m-b-10 selectLay" name="selectLay">
                    <option value=""><%= t('views.tx_session_new.select_lay') %></option>
                    <% @Lay = Tlay.all%>
                    <% @Lay.each do |lays| %>
                      <option value="<%= lays.IdLay %>" name="optionLay"><%= lays.Descripcion %></option>
                    <% end %>
                    <%# @lays = Lay.all %>
                    <%# @lays.each do |lays| %>
                      <%# @formatos = Formato.where("lay_id = ?", lays.keyLayId).count %>
                      <%# if @formatos > 0 %>
<!--                        <option value="<%#= lays.keyLayId %>"><%#= lays.description %></option>-->
                      <%# end %>
                    <%# end %>
                  </select>
                  <%#= f.collection_select :lay_id, Lay.order("keyLayId"), :keyLayId, :description, {:prompt => 'Select a Layout...'}, {:class => 'form-control m-b-10', :required => true, :id => 'layout', :disabled => false} %>
                  <span id="span_session" class="btn btn-danger btn-xs" style="display: none"></span>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Format_id, "Formato"%>
                  <%#= f.collection_select :Format_id, Formato.order(:id), :id, :description, {:include_blank => t('views.porcentual_sessions_new.select_Format')}, {:class => "form-control", :required => true, :id => 'format', :disabled => true} %>
                  <select id="format" class="form-control m-b-10 selectFormat" disabled>
                    <option value=""><%= t('views.tx_session_new.select_format') %></option>
                  </select>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Description, t('all.description'), for:'des_session' %>
                  <%= f.text_field :Description, id:'des_session',:class => "form-control", :required => true, :placeholder => t('views.tx_session_new.place_description'), :autocomplete => :off %>
                </div>
                <!--
                  <div class="back-change">
                    <div class="form-group col-lg-3 col-md-3">
                      <%#= f.label :sessionColor, "Session Color" %>
                      <%#= f.text_field :sessionColor, :class => "form-control", :required => true , :id => "text-field", :class => "form-control demo"%>
                      <%#= f.hidden_field :sessionColor, :class => "form-control", :required => true, :id => "hidden-input", :class => "form-control demo" %>
                    </div>
                  </div>
                  -->

<!--                <div class="form-group col-lg-3 col-md-3">-->
                  <%#= f.label :interval, t('views.porcentual_sessions_new.interval') %>
<!--                  <div class="row">-->
<!--                    <div class="col-md-8">-->
                      <%#= f.number_field :interval, :required => true, :class => 'form-control', :placeholder => "10 min", :min => 0 %>
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
                      <%#= f.label :interval, t('views.porcentual_sessions_new.min') %>
<!--                    </div>-->

<!--                  </div>-->
<!--                </div>-->
                <!--
                  <div class="form-group col-lg-4">
                    <%#= f.label :sessionType %>
                    <%#= f.number_field :sessionType, :class => "form-control", :required => true %>
                    <%#= f.collection_select :format_id, Format.order(:id), :id, :description, {:include_blank => "Format . . ."}, {:class => "form-control", :required => true} %>
                    <%#= f.select :sessionType, ['General Session','Main Filter'],{include_blank: "Select your Session Type ..."}, { :class => 'my_style_class' } %>
                    <%#= f.select(:sessionType, [['General', 4], ['Main Filter', 5]], {:include_blank => "Select Session Type . . ."}, {:class => 'form-control', :required => true}) %>
                  </div>
                  -->
              </div>

            </div>
          </fieldset>

          <% if @edt == false %>
            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_index.title') %></h1>
            <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_new.title') %></h3>
              <br>
              <div class="row">
                <!--
                <div class="form-group col-lg-2">
                  <label>Filter Number</label>
                  <input type="text" autocomplete="off" required disabled class="form-control" value="<%#= @or_fil %>">
                  <%#= f.hidden_field :numberFilter, :value => @or_fil %>
                </div>
                -->
                <div class="form-group col-lg-6">
                  <%= f.label :Description, t('views.tx_filter_new.description'), for:'des_filter' %>
                  <input type="text" id="des_filter" class="form-control" placeholder="<%= t('views.tx_filter_new.place_description') %>" autocomplete="off" required name="filter_description" required>
                </div>
                <div class="col-md-3 col-lg-3">
                  <div class="form-group">
<!--                      <%#= f.label :orderNumber, t('views.porcentual_sessions_new.main_Filter') , :class => "control-label" %><br>-->
<!--                      <input type="checkbox" class="js-switch" value="1" id="mainF" name="filter_order"/>-->
                    <label><%= t('views.tx_filter_new.type_filter') %></label>
                    <select id="typeFilter" name="type_filter" class="form-control filterSession">
                      <option value=""><%= t('views.tx_filter_new.select_type_filter') %></option>
                      <option value="0"><%= t('views.tx_filter_new.option_main') %></option>
                      <option value="1"><%= t('views.tx_filter_new.option_general') %></option>
                      <option value="2"><%= t('views.tx_filter_new.option_group') %></option>
                    </select>
                  </div>
                </div>


                <div class="back-change">
                  <div class="form-group col-lg-3 col-md-3 colorPicker" style="display: none">
                    <%= f.label :backgroundColor, t('views.tx_filter_new.filter_color') , :id => "colorlabel" %>
<!--                      <input type="text" class="form-control demo" required id="text-field" name="backgroundColor" autocomplete="off">-->
                    <input type="text" class="form-control demo" name="backgroundColor" autocomplete="off" />
                    <%#= f.text_field :backgroundColor, :class => "form-control", :required => true , :id => "text-field", :class => "form-control demo"%>
                    <%#= f.hidden_field :backgroundColor, :class => "form-control", :required => true, :id => "hidden-input", :class => "form-control demo" %>
                    </select>
                  </div>
                  <div class="form-group col-lg-3 col-md-3 choseSelect" style="display: none">
                    <label><%= t('views.tx_filter_new.group') %></label>
                    <br>
                    <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                    </select>
                  </div>
                </div>

                <!--
                <div class="form-group col-lg-3">
                  <%#= f.label :group_id, 'Group' %>
                  <input type="number" class="form-control" placeholder="Group . . . " autocomplete="off" required name="group_id">
                </div>
                <div class="form-group col-lg-2">
                  <%#= f.label :corporateFilter, 'Corporate Filter' %>
                  <div class="form-group">
                    <input type="checkbox" class="js-switch_3" name="corporateFilter">
                  </div>
                </div>
                -->
              </div>
            </fieldset>

            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_detail_index.title') %></h1>
            <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_detail_index.title') %></h3>
              <br>
              <br>
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.feild') %></label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.operators') %></label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                    <option value="8"> Between </option>
                    <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                      <option value="1">Tarj_Vip</option>
                      <option value="2">Tarj_Master</option>
                      <option value="3">Tarj_Visa</option>
                      <option value="4">Linea_Blanca</option>
                      <option value="5">Master</option>
                      <option value="6">Amex</option>
                    </select>
                  </div>

                  <!--                    <div class="anchoSelect">-->
                  <!--                      <label>Connector List</label>-->
                  <!--                      <select name="" id="" class="form-control">-->
                  <!--                        <option value=""> Select Connector List </option>-->
                  <!--                        <option value="1"> AND </option>-->
                  <!--                        <option value="0"> OR </option>-->
                  <!--                      </select>-->
                  <!--                    </div>-->

                  <div class="anchoSelect">
                    <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                    <br>
                    <%= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                    </div>
                    <!--                      <button class="btn btn-success btn-xs"><i class="fa fa-upload"></i></button>-->
                  </div>

                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                    <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                    <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                  </select>
                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-3 text-center altura contDenied">
                  <label><%= t('views.tx_filter_detail_new.denied') %></label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-3 text-center altura">
                  <div>
                    <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                    <br>
                    <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="0" value="-1">(</option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                  </select>
                </div>
              </div>
              <input type="hidden" id="condicionesFiltro" name="condicionesFiltro" value="">
              <div class="row col-lg-8" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12 text-right">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.denied') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                        <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
<!--                  <div class="contentBtnSave" style="margin-top: 1em">-->
<!--                    <span id="btnSaveFilter" class="btn btn-primary btn-xs btnSaveFilter"><%#= t('all.save') %></span>-->
<!--                  </div>-->
                </div>
              </div>
            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  let edit = <%= @edt %>;
  let sumac = 1;

  $("#form").steps({
      bodyTag: "fieldset",
      enableCancelButton: true,
      enableFinishButton: true,

      onStepChanging: function (event, currentIndex, newIndex) {
          // Always allow going backward even if the current step contains invalid fields!
          if (currentIndex > newIndex) {
              return true;
          }
          var form = $(this);
          // Clean up if user went backward before
          if (currentIndex < newIndex) {
              // To remove error styles
              $(".body:eq(" + newIndex + ") label.error", form).remove();
              $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
          }
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
      },
      onStepChanged: function (event, currentIndex, priorIndex) {

          if(currentIndex === 2){

          } else {

              btn_finish.css('display', 'none');
          }

      },
      onFinishing: function (event, currentIndex) {
          var form = $(this);
          // Disable validation on fields that are disabled.
          // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
          form.validate().settings.ignore = ":disabled";
          // Start validation; Prevent form submission if false
          return form.valid();
      },
      onFinished: function (event, currentIndex) {
          if( !edit ){
              creacionSesion();
          } else{
              $(this).submit();
          }
      },
      onCanceled: function (event, currentIndex) {
          window.location.href = '/tx_sessions/';
      },

      // Texto para botones
      labels: {
          cancel: 'Cancelar',
          finish: 'Finalizar',
          next: 'Siguiente',
          previous: 'Anterior'

      }

  });

  if( !edit ){
      btn_finish = $('.actions ul').children().eq(2);
      btn_finish.css('display', 'none');
  }


</script>