<%= stylesheet_link_tag "tx_sessions" %>

<p id="notice"><%= notice %></p>
<input id="userId" type="hidden" name="userId"value="<%= current_user.id %>">
<div class="row ">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.tx_session_index.session') %></h1>
        <div class="ibox-content">
          <%= link_to '<button class="btn btn-primary btn-xs" type="button" title="New Session"><i class="fa fa-user-circle-o"></i> '.html_safe + t('all.new') + '</button>'.html_safe, new_tx_sessions_path %>
          <br/>
          <br/>
          <table class="table text-center table-striped table-condensed toggle-circle-filled tile" data-page-size="8" data-filter=#filter>
            <thead>
              <tr>
                <th class="text-center" >#</th>
                <th class="text-center" ><%= t('views.tx_session_index.description') %></th>
                <th class="text-center" ><%= t('views.tx_session_index.filter_count') %></th>
                <th class="text-center" ><%= t('views.tx_session_index.new_sess_fil') %></th>
                <th class="text-center" ><%= t('views.tx_session_index.inactive') %></th>
                <th class="text-center" data-hide="phone, table" class="text-center"><%= t('all.edit') %></th>
                <th class="text-center" data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
              </tr>
            </thead>
            <tbody>
            <% order = 0 %>
              <% @tx_sessions.each do |tx_session| %>
                <% order+=1 %>
                <tr id="session<%= tx_session.Id %>">
                  <td><%= order %></td>
                  <td class="nameSession"><%= tx_session.Description %></td>
                  <td>

<!--                    <a href='#' class='btn btn-primary btn-xs editFilter' id='<%#= filtro.id %>' name='<%#= tx_session.id %>' ><%#= filtro.Description %></a><br>-->
                    <!-- Total de Filtros -->
                    <% cuenta = tx_session.tx_filters.count %>
                    <% if cuenta >= 1%>
                      <% @id = tx_session.id %>
                      <% @filtro = TxFilter.order('order_number ASC').where(:Session_id => @id) %>
                      <a href="#" class="btn btn-success btn-xs" title="Filters" data-toggle="popover" data-trigger="focus" data-content="
                        <% @filtro.each do | filtro | %>
                          <% if filtro.Order_number == 0 %>

                            <a href='/tx_filters/<%= filtro.id %>/edit' class='btn btn-primary btn-xs editFilter'><%= filtro.Description %></a><br>
                          <% else %>
                            -- <a href='/tx_filters/<%= filtro.id %>/edit' class='btn btn-success btn-xs editFilter'><%= filtro.Description %></a><br>
                          <% end %>
                        <% end %>
                      ">
                        <%= cuenta %>
                      </a>
                    <% else %>
                      <span class="btn-warning btn-xs">0</span>
                    <% end %>
                  </td>
                  <td>
                    <button type="button" id="filtroSesion<%= tx_session.id %>"  value="<%= tx_session.id %>" class="btn btn-success btn-xs  newfilter"  data-toggle="modal" data-target="#modal1" title="New filter">
                      <i class="fa fa-filter "></i>
                    </button>
                    <%#= link_to '<i class="fa fa-filter "></i>'.html_safe, new_tx_filters_path, id:tx_session.Id ,class:'btn btn-success btn-xs  filter', name:'newFilter', title:'New Filter'%>
                  </td>
                  <td>
                    <% if tx_session.Inactive == "1" %>
                      <% check = "checked" %>
                    <% else %>
                      <% check = "" %>
                    <% end %>

                    <div class="checkbox">
                      <input class="inactive" id=<%= tx_session.Id %> type="checkbox" <%= check %>>
                      <label for="checkbox1">
                      </label>
                    </div>
                  </td>
<!--                  <td><%#= link_to '<button class="btn btn-success btn-xs " type="button"><i class="fa fa-file"></i></button>'.html_safe, tx_session %></td>-->
                  <td><%= link_to '<button class="btn btn-warning btn-xs " type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_tx_sessions_path(tx_session) %></td>
<!--                  <td><%#= link_to '<button class="btn btn-danger btn-xs " type="button"><i class="fa fa-trash-o"></i></button>'.html_safe, tx_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                  <td><button class="btn btn-danger btn-xs eliminarSesion" type="button" id="<%= tx_session.Id %>"><i class="fa fa-trash-o"></i></button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <%= link_to '<button class="btn btn-primary btn-xs" type="button" title="New Session"><i class="fa fa-user-circle-o"></i> '.html_safe + t('all.new') + '</button>'.html_safe, new_tx_sessions_path %>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Modal Nuevo Filtro #######-->
  <section class="modal fade" id="modal1">
    <div class="modal-size">
      <div class="model-content">

        <!-- Header de la Modal -->
        <div class="modal-header">
          <h1><%= t('all.new')%> <%= t('views.tx_filter_index.title') %> para <span class="filterNewSession"></span></h1>
        </div>

        <!-- Contenido de la Modal -->
        <div class="modal-body">
          <input type="hidden" id="filterSession" name="filterSessionId" value="">
          <form action="/tx_filters/" method="post" id="formNewFilter" class="wisard-big">
            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_index.title') %></h1>
            <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_new.title') %></h3>
              <div class="row">
                <!-- ####### Descipción del Filtro ####### -->
                <div class="form-group col-lg-4">
                  <%#= f.label :Description, t('views.tx_filter_new.description'), for:'des_filter' %>
                  <label for=""><%= t('views.tx_filter_new.description') %></label>
                  <input type="text" id="des_filter" class="form-control" placeholder="<%= t('views.tx_filter_new.place_description') %>" autocomplete="off" name="filter_description" required>
                </div>

                <!-- ####### Select Tipo de Filtro ####### -->
                <div class="col-md-3 col-lg-4">
                  <label><%= t('views.tx_filter_new.type_filter') %></label>
                  <select id="filterType" name="type_filter_index" class="form-control" required>
                    <option value=""><%= t('views.tx_filter_new.select_type_filter') %></option>
                    <option value="0"><%= t('views.tx_filter_new.option_main') %></option>
                    <option value="1"><%= t('views.tx_filter_new.option_general') %></option>
                    <option value="2"><%= t('views.tx_filter_new.option_group') %></option>
                  </select>
                </div>

                <!-- ####### Input Color y Select Groups ####### -->
                <div class="back-change">

                  <!-- ####### Input Color ####### -->
                  <div class="form-group col-lg-3 col-md-3 colorPicker" style="display: none">
                    <%#= f.label :backgroundColor, t('views.tx_filter_new.filter_color') , :id => "colorlabel" %>
                    <label for=""><%= t('views.tx_filter_new.filter_color')  %></label>
                    <input type="text" class="form-control demo" id="backgroundColor" name="backgroundColor" autocomplete="off">
                    </select>
                  </div>

                  <!-- ####### Select Group ####### -->
                  <div class="form-group col-lg-3 col-md-3 choseSelect" style="display: none">
                    <label><%= t('views.tx_filter_new.group') %></label>
                    <br>
                    <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                    </select>
                  </div>

                </div>
              </div>
            </fieldset>

            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_detail_index.title') %></h1>
            <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_detail_index.title') %></h3>
              <br>
              <br>
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.feild') %></label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.operators') %></label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                    <option value="8"> Between </option>
                    <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                      <option value="1">Tarj_Vip</option>
                      <option value="2">Tarj_Master</option>
                      <option value="3">Tarj_Visa</option>
                      <option value="4">Linea_Blanca</option>
                      <option value="5">Master</option>
                      <option value="6">Amex</option>
                    </select>
                  </div>

                  <div class="anchoSelect">
                    <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                    <br>
                    <%#= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <input type="file" id="realBtnFile" class="realBtnFile" style="display: none;">
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                    </div>
                  </div>

                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                    <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                    <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                  </select>
                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-3 text-center altura contDenied">
                  <label><%= t('views.tx_filter_detail_new.denied') %></label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-3 text-center altura">
                  <div>
                    <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                    <br>
                    <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="0" value="-1">(</option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                  </select>
                </div>
              </div>

              <div class="row col-lg-8" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12 text-right">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.denied') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                        <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin de la Creando Modal -->

  <div class="traduciones" style="display: none;">
    <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
    <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
    <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
    <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
    <input id="deleteSession" type="hidden" value="<%= t('views.tx_session_index.btn_delete') %>">
    <input id="titleDelete" type="hidden" value="<%= t('swal.title_delete') %>">
    <input id="titleCancel" type="hidden" value="<%= t('swal.title_canceled') %>">
    <input id="txtAreSure" type="hidden" value="<%= t('swal.txt_are_sure') %>">
    <input id="txtCancel" type="hidden" value="<%= t('swal.txt_canceled') %>">
    <input id="btnConfirm" type="hidden" value="<%= t('swal.btn_confirm') %>">
    <input id="btnCancel" type="hidden" value="<%= t('swal.btn_cancel') %>">

    <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
    <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
    <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
    <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
    <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
    <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
    <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
    <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
    <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
    <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
    <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
    <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
    <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
    <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
    <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
    <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
    <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
    <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
  </div>
</div>

<script type="text/javascript" charset="utf-8">

    //--
    $('[data-toggle="popover"]').popover({
        html: true
    });

    $("#formNewFilter").steps({
        bodyTag: "fieldset",
        enableCancelButton: false,
        enableFinishButton: true,

        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }
            var form = $(this);
            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {

            if(currentIndex === 1){

            } else {

                btn_finish.css('display', 'none');
            }

        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);
            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";
            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            // if ( !edit ) {
            nuevoFiltro();
            // }

            // var form = $(this);
            // console.log(form);
            // form.submit();
        },
        onCanceled: function (event, currentIndex) {
            // window.location.href = '/tx_sessions/'
        },

        // Texto para botones
        labels: {
            cancel: 'Cancelar',
            finish: 'Finalizar',
            next: 'Siguiente',
            previous: 'Anterior'

        }

    });

    btn_finish = $('.actions ul').children().eq(2);
    btn_finish.css('display', 'none');
</script>