// Place all the styles related to the tx_filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_detalleFiltro{
  max-height: 400px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    //background-color: #000; /*=> Color del fondo principal */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }
}

thead, tr, th{
  background-color: #fff;
  position: sticky;
  top: 0;
}

//Estilos para EDIT DE DETALLE DEL FILTRO
.valuesEdit{
  display: flex;
  flex-direction: column;

  .inputsVal{
    display: flex;
    justify-content: space-between;

    .valorUno, .valorDos{
      width: 47%;
    }
  }
}