// Place all the styles related to the tx_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inValue{
  display: flex;
  flex-direction: row;

  .anchoSelect{
    width: 50%;

    &:last-child{
      padding-left: .5em;
    }
  }
}

//Estilos input file para cargar archivos
.upFiles{
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;

  .custonText{
    color: #aaa;
  }
}

//Estilos para Altura de CheckBox Denied y Add Condition
.altura{
  height: 59px;
  line-height: 1.9;
}

//Estilos para conector al agregar una condicion
.operador, .conector{
  color: #f8ac59;
  font-size: 16px;
}

.parenthesis{
  font-size: 20px;
}

.negado{
  color: #ed5565;
}

.tdDispNone, .thDisNone {
  display: none;
}

//###ESTILOS PARA CONTENEDOR FILTER
.s_Condition{
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  padding: 0;
}

.container{
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 105%;
  transition: all .3s ease;
}

.container, .s_Condition{

  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #ccc;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

}

.condicion, .parAbre, .parCierre{
  cursor: grabbing;
  z-index: 99999;
}

//.connector{
//  background-color: #337ab7 !important;
//  color: white !important;
//}

.conectorP{
  background-color: #f8ac59 !important;
  color: white !important;
}

//###Estilos para BTN filtros Guardados
.btn-width{
  margin-bottom: .5em;
  overflow: hidden;
  width: 98px;
}

//Estilos para DRAGULA DnD
.drop-target{
  border-top: 2px solid #337ab7 !important;
  border-bottom: 2px solid #337ab7 !important;
}


//############## Estilos para ventana model de nuevo filtro
.modal-size{
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
}